
    <!-- FOOTER -->
    
    <div id="footer">
      <div class="collection"><img src="/images/logo_branding/genesis_footer.png" /></div>
      <div class="footer_seperator"><img src="/images/page_seperators/three_across.png" /></div>
      <div class="collection"><img src="/images/logo_branding/castello.png" /></div>
    </div>