<div style="display:none;background-color:white;padding:2em;width:75%;margin:0 auto;border-right:1px dotted black;border-left:1px dotted " id="contact_form">
    <div style="text-align:center;"><img src="/gfx/contact/telephone90.svg"/style="width:60px;opacity:0.6;" /></div>
    <p style="font: normal 4em Josefin Slab Light;text-align:center;padding-bottom:0;margin-bottom:0;">Contact us</p>
    
    <img src="/gfx/welcomeicons/line.svg"  class="welcome_line" style="display:block;margin:0 auto;padding-top:1.25em;padding-bottom:0.5em;"/>   
    <form>
        
        <div id="form_left" style="margin-left:5%;width:45%;float:left;">
   <p><div style="display:inline-block;height:1em;background-color:#EEE;width:1em;"></div><label for="contact_first_name" style="text-align:center;font: normal 1.4em 'OS Light Italic', sans-serif;"> First name:</label><br/>
    <input name="contact_first_name" id="contact_first_name" type="text" style="padding-left:0.5em;font-size:1.8em;width:80%;border:0;background-color:#EEE;margin-top:0.25em;border-radius:0.5em;height:2em;"></input>
    </p>
     <p><div style="display:inline-block;height:1em;background-color:#EEE;width:1em;"></div>
    <label style="text-align:center;font: normal 1.4em 'OS Light Italic', sans-serif;" for="contact_last_name">Last name:</label></br>
    <input name="contact_last_name" id="contact_last_name" type="text"  style="padding-left:1em;font-size:1.8em;width:80%;border:0;background-color:#EEE;margin-top:0.25em;border-radius:0.5em;height:2em;"></input>
    </p>
    </div>
    <div id="form_right"  style="margin-right:5%;width:45%;float:right;">
     <p><div style="display:inline-block;height:1em;background-color:#EEE;width:1em;"></div><label for="contact_email" style="text-align:center;font: normal 1.4em 'OS Light Italic', sans-serif;"> Email:</label><br/>
    <input type="email" name="contact_email" id="contact_email"  style="padding-left:0.5em;font-size:1.8em;width:80%;border:0;background-color:#EEE;margin-top:0.25em;border-radius:0.5em;height:2em;" ></input>
    </p>
    
     <p><div style="display:inline-block;height:1em;background-color:#EEE;width:1em;"></div>
    <label style="text-align:center;font: normal 1.4em 'OS Light Italic', sans-serif;" for="contact_email_verify"> Type your email again:</label></br>
    <input type="email"  id="contact_email_verify" name="contact_email_verify" style="padding-left:0.5em;font-size:1.8em;width:80%;border:0;background-color:#EEE;margin-top:0.25em;border-radius:0.5em;height:2em;"></input>
    </p>
    </div>
    <p><div style="margin-left:5%;display:inline-block;height:1em;background-color:#EEE;width:1em;"></div>
       <label style="text-align:center;font: normal 1.4em 'OS Light Italic', sans-serif;" for="contact_message"> Message:</label></br>
    <textarea id="contact_message" name="contact_message" rows="6" style="padding:0.5em;border:0;background-color:#EEE;border-radius:0.5em;margin-top:0.25em;width:80%;font: normal 1.8em 'OS Light', sans-serif;margin-left:5%;" id="contact_message"></textarea>
    </p>
    
    <div class="buy grey_button" id="send_message" style="float:right;width:20%;padding-top:1em;padding-bottom:1em;border-top-left-radius:0.75em;border-bottom-right-radius:0.75em;font-size:1.6em;">
   
		SEND<br/>	</div>
		<div style="width:75%;">
<p style="text-align:center;font: normal 1.2em 'OS Light';">			<img src="/gfx/contact/pin56.svg" style="width:20px;opacity:0.6;" /> 1c Canning Court, Newport, Isle of Wight, PO30 2FH</p>

<p style="text-align:center;font: normal 1.2em 'OS Light';">			<img src="/gfx/contact/telephone130.svg" style="width:20px;opacity:0.6;" /> 01983 529132</p>


<p style="text-align:center;font: normal 1.2em 'OS Light';">			<img src="/gfx/contact/arroba15.svg" style="width:20px;opacity:0.6;" /> <a href="mailto:hello@casamiento.co.uk">hello@casamiento.co.uk</a></p>
</div>
			<div style="clear:both;"></div>
			
    <img src="/gfx/welcomeicons/line.svg"  class="welcome_line" style="display:block;margin:0 auto;padding-top:0.75em;"/>   
</div>
<div style="border-bottom:1px dotted black;"></div>