<div id="footer">
  <div class="genesis_collection"><img src="/gfx/genesis.svg" style="width:160px"/></div>
  <div class="footer_seperator"><img src="/gfx/three_across.png" style="width:60px"/></div>
  <div class="castello_collection"><img src="/gfx/castello.svg" style="width:250px;" /></div>
</div>