<div id="header_wrapper">
  
  <a href="/"><img src="/gfx/logo/casamiento_gry.svg" id="logo"></a>
    <div id="browse">
      <a href="/products"><img src="/gfx/browse/open182.svg" /></a>
      <a href="/products"><span id="browse_link">BROWSE DESIGNS</a>
    </div>
   
  <a href="/"><img src="/gfx/home4.svg" class="deselected" id="home_icon" /></a>
  <img src="/gfx/menulines.svg" id="mainmenulines"> 
  <img src="/gfx/logo/drms.svg" id="dreams_slogan">    
  <div style="clear:both;"></div>

</div>