<div id="header_wrapper">
  
  <a href="/"><img src="/gfx/logo/casamiento_gry.svg" id="logo"></a>
  
  <div id="menu_lines">
    <div style="width:18px;border-color:black;border-style:solid;border-top:1px;"></div>
    <div style="width:18px;border-color:black;border-style:solid;border-top:1px;margin-top:5px;"></div>
    <div style="width:18px;border-color:black;border-style:solid;border-top:1px;margin-top:5px;"></div>
  </div> 
  
  <a href="/products"><div id="browse" style="margin-top:15px;height:50px;line-height:50px;border-left:1px solid black;padding-left:10px;">
    <img src="/gfx/browse/open182.svg" style="margin:0;padding:0;width:40px;vertical-align:middle" />
      BROWSE DESIGNS
  </div></a>
  
  <img src="/gfx/logo/drms.svg" id="dreams_slogan">   
              
  <div style="clear:both;"></div>

</div>