 <div id="left_menu">
  <img src="/gfx/close/close3.svg" class="close" id="close_left_menu"/>
   <div style="text-align:center;padding:1em;font:normal 1.4em 'OS Light';border-bottom:1px solid black;">
      &nbsp;
    </div>
     <div style="text-align:center;padding:1em;font:normal 1.4em 'OS Light';border-bottom:1px solid black;">
      <a href="/"><img src="/gfx/home4.svg" class="deselected" style="width:22px" /> HOME + ABOUT</a>
    </div>
    <div id="contact_click" style="text-align:center;padding:1em;font:normal 1.4em 'OS Light';border-bottom:1px solid black;">
     <img src="/gfx/envelope4.svg" class="deselected" style="width:20px" /> CONTACT
    </div>
    <div style="text-align:center;padding:1em;font:normal 1.4em 'OS Light';border-bottom:1px solid black;">
      <a href="/products"><img src="/gfx/read.svg" class="deselected" style="width:22px" /> BROWSE</a>
    </div>
     <div style="text-align:center;padding:1em;font:normal 1.4em 'OS Light';border-bottom:1px solid black;">
      <a href="/faq"><img src="/gfx/question55.svg" class="deselected" style="width:20px" /> FAQ</a>
    </div>
  </div>