<script type="text/template" id="ui_view_template">
  <div>
    <div style="width:20%;float:left;">
      <img src="http://www.casamiento.co.uk/gfx/logo/cas.png" id="logo" style="width:150px">
    </div>

    <div style="width:30%;margin-top:2.5em;float:left;">
      <div id="ui_font_picker"></div>
    </div>

    <div style="width:20%;float:left;text-align:center;">
      <img src="/gfx/printer_icon.svg" style="margin-top:0.5em;width:55px">
    </div>

    <!-- LAYOUT ICONS -->

    <div style="width:30%;float:right;">
      <div style="width:33%;float:left;">
      <input type="radio" value="8" name="layout" style="display:inline-block"></input>
        <div style="width:54px;border:1px solid black;height:78px;">
          <table style="border-collapse:collapse;border:0;">
            <tr>
              <td style="width:50%;height:19px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
              <td style="width:50%;height:19px;border-bottom:1px dotted grey;"></td>
            </tr>
            <tr>
              <td style="width:50%;height:19px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
              <td style="width:50%;height:19px;border-bottom:1px dotted grey;"></td>
            </tr>
            <tr>
              <td style="width:50%;height:19px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
              <td style="width:50%;height19px;border-bottom:1px dotted grey;"></td>
            </tr>
            <tr>          
              <td style="width:50%;height:19px;border-right:1px dotted grey;"></td>      
              <td style="width:50%;height:19px;"></td>
              <td style="width:50%;height:19px;"></td>
            </tr>
          </table>
        </div>
      </div>
      
      <!-- THREE ON A PORTRAIT PAGE -->
      
      <div style="width:33%;float:left;">
      
      <input type="radio" value="3" id="radio_3_up" name="layout" style="display:inline-block"></input>
        <div style="width:54px;border:1px solid black;height:78px;">
          <table style="margin:0 auto;margin-top:9px;width:50%;border-collapse:collapse;">
            <tr><td style="width:50%;height:18px;border:1px dotted grey;"></td></tr>
            <tr><td style="width:50%;height:18px;border:1px dotted grey;"></td></tr>
            <tr><td style="width:50%;height:18px;border:1px dotted grey;"></td></tr>
          </table>
        </div>
      </div>
      
        <!-- 4 ON A LANDSCAPE PAGE -->
        
        <div style="width:33%;float:left;">
        
      <input type="radio" value="4" name="layout" style="display:inline-block"></input>
          <div style="width:78px;border:1px solid black;height:54px;">
           <table style="width:54px;margin:0 auto;margin-top:8px;border-collapse:collapse;">
              <tr>
                <td style="width:50%;height:18px;border:1px dotted grey;"></td>            
                <td style="width:50%;height:18px;border:1px dotted grey;"></td>
              </tr>
              <tr>
                <td style="width:50%;height:18px;border:1px dotted grey;"></td>             
                <td style="width:50%;height:18px;border:1px dotted grey;"></td>
              </tr>
            </table>
          </div>
      </div>
    </div>


    <div style="clear:both;border-top:1px solid black;margin-top:0.5em;margin-bottom:0.5em;"></div>

    <div id="user_interface_print_view" class="up_8"></div>
     
    <div style="clear:both;"></div>
  </div>

</script>



<script type="text/template" id="ui_bitmap_place_card_template">

  <div style="position:relative;">
    <div class="ui_single_place_card_bitmap_container">
      <%- product.divs[4] %>
    </div>
    <div class="ui_half_container"></div>
    <div class="ui_half_container_guest"><input type="text" style="border:0;padding:0;line-height:147px;width:100%;margin:0;background-color:transparent;" value="Mrs Lucy Smith"></input></div>
  </div>
  
</script>

