<div style="clear:both;position:relative;" class="background_container colour_0">
  <img style="position:absolute;display:block;" src="{{url}}" />
  {{#is number_of_colours 2}}<div class="background_wrapper">{{{divs}}}</div>{{/is}}
</div>

{{#is number_of_colours 2}}
  <textarea rows="6" cols="80" class="change_background">{{divs}}</textarea>
  <div class="visual_div">{{{ divs}}}</div>
{{/is}}