<div style="position:relative;">
  <div class="ui_single_place_card_bitmap_container">
    {{{divs.[4]}}}
  </div>
  
  <div class="ui_half_container"></div>
  <div class="ui_half_container_guest">
    <input type="text" style="border:0;padding:0;line-height:147px;width:100%;margin:0;background-color:transparent;" value="Mrs Lucy Smith"></input>
  </div>
</div>
