
  <div id="control_panel">
  
    <div id="mobile_panel_section">
   
      <div id="control_panel_top_row">
      
        <div id="ui_logo_container" class="desktop">
          <a href="/"><img src="/gfx/logo/casamiento_gry.svg" id="ui_print_logo"></a>
        </div> 
          
        <img src="/gfx/close/close3.svg" class="close mobile" id="close_mobile" />

        <div id="ui_print_colour_picker_container"></div>
        
        <div id="ui_printer_icon">
          <img src="/gfx/printer_icon.svg" style="margin-top:0.5em;width:55px">
        </div>
        
        <div id="ui_global_font" class="desktop">
          <div class="global_font_increase"></div>
          <div class="global_font_decrease"></div>
          <div class="global_baseline_up"></div>
          <div class="global_baseline_down"></div>       
          <div class="global_font_reset"></div>     
        </div>
        
        <div id="ui_print_font_picker_container">
          <div id="ui_font_picker"></div>
        </div>      
          
        <div style="clear:both"></div>
      </div>
            
  </div>
    
  <div id="ui_guests" style="position:relative;display:none;"> 
    <img src="/gfx/people/crowdsourcing.svg" style="width:30px;" />    
  </div>
    
  <img id="menu_lines" class="mobile" src="/gfx/menulines.svg" style="width:30px;" />
  
  <a href="/"><img src="/gfx/logo/casamiento_gry.svg" class="mobile" id="mobile_print_logo"></a>
  
  <div id="ui_global_font_mobile" class="mobile">
    <div class="global_font_increase"></div>
    <div class="global_font_decrease"></div>
    <div class="global_baseline_up"></div>
    <div class="global_baseline_down"></div>       
    <div class="global_font_reset"></div>     
  </div>
  
</div>









