<img src="/gfx/product_types/small/name_place_small.png" class="product_type_icon" id="second_product_type_icon">
<!-- 

  COLOURS 

-->

<div class="spc" id="step_1">
	<div class="step_header_container">
    <h4>Choose your colour</h4>
    <div class="step colour_0" style="background-color:{{colours.[0]}}">STEP 1</div>
  </div>
		
	<div id="colour_section_render"></div>
  
	<div class="chat-bubble">Choose from hundreds of colours: hover over or tap the colour shown below to bring up the hues panel, then hover or tap the colour swatches and the image will change so you can see exactly how your design will look. Move backwards and forwards through the hues panel by clicking the left &laquo; and right &raquo;arrows.
  </div>

</div>



<!-- 

	FONTS 
	
-->
<div class="spc" id="step_2">
	<div class="step_header_container">
		<h4>Choose your font</h4>
		<div class="step">STEP 2</div>
	</div>
	

	<div class="chat-bubble">Choose a font. Click the up &#9650; and down &#9660;  arrows to move through the different choices.
	</div>
	
	<div id="fonts" style="margin:4px"></div>
</div>


<!-- 

	FONTS 
	
-->
<div class="spc" id="step_3">
	<div class="step_header_container">
		<h4>Print yourself&hellip;</h4>
		<div class="step">STEP 3</div>
	</div>
	

	<div class="chat-bubble">Print straight from your browser. If you'd like to print your own place cards right now, you can do it quickly and easily straight from your browser&mdash;no downloading PDFs or installing programs. Just click the print yourself button below. Or if you'd rather we do the hard work, just continue with the other steps&hellip;
	</div>
	

	<div class='grey_button' id='print_button'><img src='/gfx/printer.svg' style='line-height:0.5em;width:60px;margin:0;padding:0;' /> PRINT<br/>YOURSELF</div>
</div>


<!-- 

  TEXTURE 
  
-->

<div class="spc" id="step_4">
	<div class="step_header_container">
		<h4>Card Texture</h4>
		<div class="step">STEP 4</div>
	</div> 
	
	<div style="position:relative;z-index:999999999999">
		<div class="tooltip-bubble">
			<div class="tooltip-bubble-arrow-border"></div>
			<div class="tooltip-bubble-arrow"></div>Click and highlight an icon to select the texture of your choice. Plain is the cheapest with its smooth plain finish, but hammered and linen both make your cards feel more luxurious. 
		</div>
	</div>
	
	<div class="chat-bubble">Click and highlight an icon to select the texture of your choice. Plain is the cheapest with its smooth plain finish, but hammered and linen both make your cards feel more luxurious. 
	</div>
	
	<div id="texture_selection">
	
		<div class="texture selectable deselected">
			<div class="texture_circle"></div>
			<br/>Plain
		</div>
		
		<div class="texture selectable deselected">
			<div class="texture_circle" style="background-image:url('/gfx/hammered.png');background-size:2em;"></div>
			<br/>Hammered
		</div>		
		
		<div class="texture selectable deselected">
			<div class="texture_circle" style="background-image:url('/gfx/icons/linen.png');background-size:2em;"></div>
			<br/>Linen
			</div>
		
	</div>
</div>

<!-- 

  WEIGHT 
  
-->
	
<div class="spc"  id="step_5">
	<div class="step_header_container">
		<h4>Card Thickness</h4>
		<div class="step">STEP 5</div>
	</div> 
	
	
	<div style="position:relative;z-index:999999999999">
		<div class="tooltip-bubble">
			<div class="tooltip-bubble-arrow-border"></div>
			<div class="tooltip-bubble-arrow"></div>Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm): the higher the number, the thicker the card. A normal sheet of A4 copy paper is usually about 80gsm.
		</div>
	</div>
	
	<div class="chat-bubble">Choose the weight of your card. The heavier the card, the thicker and more luxurious it feels. Weight is measured in grams per square inch (gsm): the higher the number, the thicker the card. A normal sheet of A4 copy paper is usually about 80gsm.
	</div>
	
	<div class="weight deselected selectable">
		 <div class="weight_line"></div>
		 <p>250gsm</p>
	</div>
		
	<div class="weight deselected selectable">
		<div class="weight_line" style="border-top:10px solid black;"></div>
		<p>300gsm</p>
	</div>
	
</div>

<!-- 

  FORMAT 
  
-->

<div class="spc"  id="step_6">
	<div class="step_header_container">
		<h4>Product Format</h4>
		<div class="step">STEP 6</div>
	</div> 
	
	
	<div style="position:relative;z-index:999999999999">
		<div class="tooltip-bubble">
			<div class="tooltip-bubble-arrow-border"></div>
			<div class="tooltip-bubble-arrow"></div>Choose the format of your place cards: would you like freestanding cards that stand up like a tent? Or would you like cards that lay flat? Flat cards will save you money, but tent cards give a nicer impression.	
		</div>
		</div>
	
		<div class="chat-bubble">Choose the format of your place cards: would you like freestanding cards that stand up like a tent? Or would you like cards that lay flat? Flat cards will save you money, but tent cards give a nicer impression.	</div>
	<div style="margin:auto;text-align:center;">
		<div class="spec" style="width:100px"><img src="/gfx/specs/tent.png"></div>
	</div>
</div>
	
	<!-- 
	
	QUANTITY 
	
	-->

<div class="spc" id="step_7">
	<div class="step_header_container">
		<h4>Quantity</h4>
		<div class="step">STEP 7</div>
	</div> 
	

		<div id="qty_container">
				<div id="minus_qty" class="deselected">-</div> <input type="text" id="qty" value="{{quantity}}" size="3"></input>
				<div id="plus_qty" class="deselected">+</div>
		</div>
		<div class="price">
		<span class="pound_sign">&pound;</span><span class="number" id="pound">{{pounds}}</span><span class="decimal" id="decimal">.{{pence}}</span>
		</div>
</div>

<!-- 

  GUESTS 
  
 -->

<div class="spc"  id="step_8">
	<div class="step_header_container">
		<h4><img src="/gfx/guests.png" style="width:30px"/> Guest names</h4>
		<div class="step">STEP 8</div>
	</div> 
	
	
	<div style="position:relative;z-index:999999999999">
		<div class="tooltip-bubble">
			<div class="tooltip-bubble-arrow-border"></div>
			<div class="tooltip-bubble-arrow"></div>Choose the format of your place cards: would you like freestanding cards that stand up like a tent? Or would you like cards that lay flat? Flat cards will save you money, but tent cards give a nicer impression.	
		</div>
		</div>
	
	<div class="chat-bubble">Enter your guest names now or choose to do it later. Names will be printed exactly as you type them so make sure you use capital letters in the right places. 
	</div>
	<div id="guests"></div>
</div>
	
<!--

	BUY 

-->

<div class="spc"  id="step_9">

  <h4>Place your order&hellip;</h4>
	<div class="step">STEP 9</div>
		
	<div id="buy" class="grey_button deselected" style="margin:0 auto;clear:both;padding:1em;"><span style="color:white;font:normal 1em 'OS';">Check out with</span>
	  <img class="cart_icon" src="/gfx/cart_white.png" style="width:45px;"/><br/>
		<img src="/gfx/paypal.png" id="paypal"/ style="padding-bottom:1em;">
  </div>

	</div> 
</div>