<div id="top_of_page" style="margin:0;padding:0;position:relative;">
  
  <div id="control_panel">
  
   <div id="mobile_panel_section">
   
    <div id="control_panel_top_row">
      <div id="ui_logo_container">
        <a href="/"><img src="/gfx/logo/casamiento_gry.svg" id="ui_print_logo"></a>
      </div>

      <div id="ui_print_colour_picker_container"></div>

      <div id="ui_printer_icon">
        <img src="/gfx/printer_icon.svg" style="margin-top:0.5em;width:55px">
      </div>

    <!-- LAYOUT ICONS -->

      <div id="layout_icons_wrapper">
        <div class="layout_icon_container">
        
          <input type="radio" value="8" checked="checked" name="layout" style="display:inline-block"></input>
          
          <img src="/gfx/icons/8_up.svg" style="width:30px"/>
        </div>
      
        <!-- THREE ON A PORTRAIT PAGE -->
        
        <div class="layout_icon_container">
        
          <input type="radio" value="3" id="radio_3_up" name="layout" style="display:inline-block"></input>
            
         
          <img src="/gfx/icons/3_up.svg" style="width:30px"/>
          
        </div>
      
        <!-- 4 ON A LANDSCAPE PAGE -->
        
        <div class="layout_icon_container">
        
          <input type="radio" value="4" name="layout" style="display:inline-block"></input>          
        
          <img src="/gfx/icons/4_up.svg" style="width:42px"/>
          
        </div>
      </div>
   
      <div style="clear:both"></div>
    </div>
    
    <div id="ui_print_font_picker_container">
      <div id="ui_font_picker"></div>
    </div>      
      
  </div>
    
  <div style="border-top:1px solid black;padding-bottom:0.2em;"></div>
  
  <div id="ui_global_font">
    <div class="global_font_increase"></div>
    <div class="global_font_decrease"></div>
    <div class="global_baseline_up"></div>
    <div class="global_baseline_down"></div>     
  </div>
  
  <div id="menu_lines" style="float:left;z-index:99999999999999999999999999999999">
    <div class="menu_line"></div>
    <div class="menu_line"></div>
    <div class="menu_line"></div>
  </div>
  
  <div style="clear:both"></div>
</div>

<div style="clear:both;border-top:1px solid black;margin-top:0.5em;margin-bottom:0.5em;"></div>
   
<div id="actual_cards"></div>