

<div id="top_of_page">
  
  <div id="control_panel">
   
    <div id="control_panel_top_row">
    
     <img id="ui_printer_icon" src="/gfx/printer_icon.svg" />
      
      <div id="ui_global_font" class="desktop">
        <div class="global_font_increase"></div>
        <div class="global_font_decrease"></div>
        <div class="global_baseline_up"></div>
        <div class="global_baseline_down"></div>       
        <div class="global_font_reset"></div>     
      </div>      
        
      <div style="clear:both"></div>
    </div>
    
  
    <a href="/"><img src="/gfx/logo/casamiento_gry.svg" class="mobile" id="mobile_print_logo"></a>
    
    <img id="menu_lines" class="mobile" src="/gfx/menulines.svg" />
    
     <img id="mobile_ui_printer_icon" src="/gfx/printer_icon.svg" />
     
    <div id="ui_global_font_mobile" class="mobile">
      <div class="global_font_increase"></div>
      <div class="global_font_decrease"></div>
      <div class="global_baseline_up"></div>
      <div class="global_baseline_down"></div>       
      <div class="global_font_reset"></div>     
    </div>
  
  </div>

 
 <!-- PLACE CARDS FOR VIEW PURPOSES GO HERE AND THE "ADD ANOTHER" AND "CHECKOUT" BUTTONS" -->

<div id="actual_cards">

  <div class="place_card_view add_another">
    <div class="grey_button" id="add_another" style="width:150px;">

      <img src="/gfx/people/crowdsourcing_white.svg" style="line-height:0.5em;width:40px;margin:0;padding:0;" /> 
      ADD ANOTHER
    </div>
  </div>
  
  

  
  
  
  <div class="place_card_view checkout">
  
    <div style="margin:0 auto;text-align:center;font:normal 1.4em 'OS Light Italic';width:90%;padding:0.25em;padding-bottom:0.5em;">Too much hassle to print, score, fold and cut them yourself? Let us do the hard work for you&hellip;</div>
  
    <div class="paypal_spinner" style="text-align:center;">
      <img src="/gfx/spinner.gif" />
    </div> 
  
    <div class="buy grey_button">
      <span style="color:white;font:normal 1em OS;">Check out with</span>
      <img class="cart_icon" src="/gfx/cart_white.png" style="width:45px;"/><br/>
      <img src="/gfx/paypal.png" class="paypal" style="padding-bottom:1em;" />
    </div>
    
    <div class="price">
      <span class="pound_sign">&pound;</span>
      <span class="number" id="pound">{{pounds}}</span>
      <span class="decimal" id="decimal">.{{pence}}</span>
    </div>
  </div>
  
</div>