<div id="printsvg"></div>
<div id="top_of_page" style="margin:0;padding:0;">
  <div id="control_panel">
  
    <div id="ui_logo_container">
      <img src="http://www.casamiento.co.uk/gfx/logo/cas.png" id="ui_print_logo">
    </div>

    <div id="ui_print_font_picker_container">
      <div id="ui_font_picker"></div>
    </div>

    <div id="ui_printer_icon">
      <img src="/gfx/printer_icon.svg" style="margin-top:0.5em;width:55px">
    </div>

    <!-- LAYOUT ICONS -->

    <div id="layout_icons_wrapper">
      <div class="layout_icon_container">
      <input type="radio" value="8" checked="checked" name="layout" style="display:inline-block"></input>
        <div style="width:40px;border:1px solid black;height:53px;margin:0 auto;">
          <table style="border-collapse:collapse;border:0;">
            <tr>
              <td style="width:50%;height:13px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
              <td style="width:50%;height:13px;border-bottom:1px dotted grey;"></td>
            </tr>
            <tr>
              <td style="width:50%;height:13px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
              <td style="width:50%;height:13px;border-bottom:1px dotted grey;"></td>
            </tr>
            <tr>
              <td style="width:50%;height:13px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
              <td style="width:50%;height13px;border-bottom:1px dotted grey;"></td>
            </tr>
            <tr>          
              <td style="width:50%;height:13px;border-right:1px dotted grey;"></td>      
              <td style="width:50%;height:13px;"></td>
              <td style="width:50%;height:13px;"></td>
            </tr>
          </table>
        </div>
      </div>
      
      <!-- THREE ON A PORTRAIT PAGE -->
      
      <div class="layout_icon_container">
      
      <input type="radio" value="3" id="radio_3_up" name="layout" style="display:inline-block"></input>
        <div style="width:40px;border:1px solid black;height:53px;margin:0 auto;">
          <table style="margin:0 auto;margin-top:9px;width:50%;border-collapse:collapse;">
            <tr><td style="width:66%;height:11px;border:1px dotted grey;"></td></tr>
            <tr><td style="width:66%;height:11px;border:1px dotted grey;"></td></tr>
            <tr><td style="width:66%;height:11px;border:1px dotted grey;"></td></tr>
          </table>
        </div>
      </div>
      
        <!-- 4 ON A LANDSCAPE PAGE -->
        
        <div class="layout_icon_container">
        
      <input type="radio" value="4" name="layout" style="display:inline-block"></input>
          <div style="width:52px;border:1px solid black;height:54px;margin:0 auto;">
           <table style="width:40px;margin:0 auto;margin-top:8px;border-collapse:collapse;">
              <tr>
                <td style="width:50%;height:13px;border:1px dotted grey;"></td>            
                <td style="width:50%;height:13px;border:1px dotted grey;"></td>
              </tr>
              <tr>
                <td style="width:50%;height:13px;border:1px dotted grey;"></td>             
                <td style="width:50%;height:13px;border:1px dotted grey;"></td>
              </tr>
            </table>
          </div>
      </div>
    </div>
    <div style="border-top:1px solid black;margin-top;0.5em;clear:both;text-align:center;font-family:'OS';font-size:1.6em;"><table style="background-color:transparent;margin:0 auto;border-collapse:collapse;width:432px;"><td style="text-align:center;vertical-align:center;width:32px;"><img src="/gfx/chrome.png" style="width:40px;margin-top:5px;" /></td><td style="width:392px;" >We strongly recommend using Chrome</td></table></div>
  </div>

  <div style="clear:both;border-top:1px solid black;margin-top:0.5em;margin-bottom:0.5em;"></div>
   
  <div id="actual_cards"></div>
   
</div>