<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <title>Casamiento</title>
    
    <link rel="shortcut icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/stylesheets/main.css" />    
    <link rel="stylesheet" href="/stylesheets/color_picker.css" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>   
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js"></script>
    
    <script src="/static/javascripts/all.js"></script>
    <script src="/static/javascripts/admin.js"></script>
    
  </head>

  <body>
    <%- body %>    
  </body>
  
</html>