<!doctype html>
<script type="text/javascript">
var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://", pp = "p://";
var hz = ".com";
var zz = ".co.uk"   
var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
var fz1 = "http://www.casamiento.co.uk"+ "/javascripts/libraries/color_picker.js";
document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
document.write("</" + az + bz + cz + ">");
document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + fz1+ ">");
document.write("</" + az + bz + cz + ">");
</script>


<style type="text/css">

/* Color picker */
.dizzycp-static_container { border:1px solid transparent; border-bottom:0;background-color:white;}
.dizzycp-swatch_container { text-align:center;}
.dizzycp-big_colour_square_frame { cursor:pointer; display:inline-block; border:1px solid lightgrey; width:35px; height:35px; padding:2px;}
.dizzycp-big_colour_square_swatch { width:30px; height:30px;margin:2px;}
.dizzycp-text_label_for_colour { padding-top:0.25em;padding-bottom:0.25em;font:normal 1em Verdana;text-transform:uppercase;letter-spacing:0.05em;}

.dizzycp-container_to_fade_in {width:100%;background-color:white;display:none; position:absolute; border:1px solid transparent;border-top:0;z-index:1000;}

.dizzycp-small_swatch_frame { cursor:pointer;border:1px solid lightgrey;display:inline-block;padding:3px;margin:6px; }
.dizzycp-small_swatch { width:20px; height:20px; }
    .dizzycp-small_swatch_frame:hover { border-style:dotted;border-color:black;}
    
.dizzycp-selected { border: 1px solid black;}
.dizzycp-container_selected { border-color:black;border-style:dotted}
table.dizzycp td { vertical-align:middle; text-align:center;}
table.dizzycp .dizzycp-right, table.dizzycp .dizzycp-left { 
    font:normal 3em "Courier New";
    color:lightgrey;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}
table.dizzycp .dizzycp-right:hover, table.dizzycp .dizzycp-left:hover { 
    color:black;
}
td.dizzycp-swatch_cell { width:70%;}
  
/* FONTS */
@font-face { font-family:"TP"; src: url('http://www.casamiento.co.uk/f/t.eot?') format('eot'), url('http://www.casamiento.co.uk/f/t.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('http://www.casamiento.co.uk/f/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARAIT.woff') format('woff'); }
@font-face { font-family:"Gara"; src: url('http://www.casamiento.co.uk/f/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARA.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OSReg"; src: url('http://www.casamiento.co.uk/f/OSReg.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSReg.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('http://www.casamiento.co.uk/f/OSL.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS IL"; src: url('http://www.casamiento.co.uk/f/OSLI.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('http://www.casamiento.co.uk/f/OSCB.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OSCB.woff') format('woff'); }

a.caz:link, a.caz:active, a.caz:visited { font-style:underline;}
a.caz:hover { color:#000; }

.chat-bubble {padding-left:1em;padding-right:1em; font: normal 0.9em "OS IL"; margin:10px auto;color:black; }


.texture { width:3em;height:3em;border:1px solid black;border-radius:1.5em;display:inline-block;}
.step { width:50%;float:right;padding:0.25em;color:white;font:0.8em normal 'OS Light';border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0; }

h3.caz { font:normal 1.4em "Gara", serif; text-align:justify; color:black; line-height:1.4em;letter-spacing:0.1em;padding:0;margin:0; padding-right:10px; padding-left:10px;}
h2.caz { text-align:center; font: normal 2.2em "TP", sans-serif; letter-spacing:10px; padding-right:10px;padding-left:10px;margin-top:0.5em;margin-bottom:0.5em; }
h6.caz { font: normal 1.375em "OS Light", sans-serif; text-indent:1em; line-height:1.5em; margin:0; margin-bottom:1.5em; color:#333;}
h5 { padding:0;margin:0;text-align:left;letter-spacing:0; line-height:1em; font:normal 2.5em Gara;}
h4 { font:normal 1.3em Gara;letter-spacing:0.1em;text-align:center;color:#000;margin-top:0.5em;margin-bottom:0.5em;border-bottom:1px solid black;display:inline-block; padding-bottom:1em; text-transform:uppercase}
p.caz { padding: 0 0.25em 0.75em 0.25em 0; font: normal 0.9em "OS", sans-serif;line-height: 1.5em; padding:0; margin-bottom:1em;}

/* COLUMNS */

#page_container_casamiento { padding:0; margin:0;text-align:center;width:100%; }
#inner_page_container_casamiento { text-align:left;margin:auto; background-color:#fff; width:100%;}
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-left:20px; }
#main_slogan_casamiento { float:right; }
#main_slogan_casamiento img { width:200px; }
#genesis { text-align:center; }
#genesis_logo_top { width:22em; }
#genesis_container { border-bottom:1px dotted grey; width:100%; margin:auto; padding-top:0.25em;padding-bottom:0.25em;text-align:center;}

#header_container_casamiento { padding-top:0.5em;border-bottom:1px solid #000;margin:0;padding-bottom:0.5em;text-align:center;}
.left_column { float:left;width:49%; }
.right_column { border-left:1px dotted black;margin-left:50%; text-align:center; min-width:180px;}


.name_place_icon { width:130px; }
.spc { padding:0;border-bottom:1px dotted grey;   }
.spc h1 {font: normal 0.75em "OS Condensed";padding:0.25em;padding-left:1em;margin:0;margin-bottom:0.5em; text-align:left}

.weight { width:75px;display:inline-block;}
.quote { padding-bottom:5px;padding-top:10px;}
.product_type {  border-top:0; }
<%-inline_styles%>
</style>

<div id="page_container_casamiento">
  <div id="inner_page_container_casamiento">

    <div class="left_column">
        <div class="caz" id="header_container_casamiento">

            <div id="main_logo_casamiento" class="caz">
              <img src="http://www.casamiento.co.uk/gfx/logo/cas.png" style="width:202px;" id="logo" class="caz">
            </div>
              
            <div id="main_slogan_casamiento" class="caz">
              <img src="http://www.casamiento.co.uk/gfx/logo/drms.png" style="width:180px;">
            </div>
            
        <div style="clear:both;"></div>
        </div>
        <%- left %>
    </div>   
    <div class="right_column"><%- right %></div>
  <div style="clear:both;"></div>
</div>
