<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <title>Casamiento</title>
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    
    <link rel="stylesheet" href="/stylesheets/color_picker.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
    <script src="/javascripts/libraries/color_picker.js"></script>
    <style type="text/css">
        <%- inline_styles %>
    </style>
  </head>

  <body>
    
  <div id="page_container">
    <div id="inner_page_container">
          
     
    <div class="left_column">
        <div class="caz" id="header_container_casamiento">

            <div id="main_logo_casamiento" class="caz">
              <a href="/"><img src="http://www.casamiento.co.uk/gfx/logo/cas.png" style="width:202px;" id="logo" class="caz"></a>
            </div>
              
            <div id="main_slogan_casamiento" class="caz">
              <img src="http://www.casamiento.co.uk/gfx/logo/drms.png" style="width:180px;">
            </div>
            
        <div style="clear:both;"></div>
        </div>
        <%- left %>
    </div>   
    <div class="right_column"><%- right %></div>
     
      <div id="footer">
        <div class="genesis_collection"><img src="/gfx/logo/gen_compact.png" style="width:160px"/></div>
        <div class="footer_seperator"><img src="/gfx/three_across.png" style="width:60px"/></div>
        <div class="castello_collection"><img src="/gfx/logo/castello.png" style="width:250px;" /></div>
      </div>
<div style="clear:both;"></div>
      
    </div>
  </body>
</html>

