<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <title>Casamiento</title>
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    
    <link rel="stylesheet" href="/stylesheets/color_picker.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/backbone_syphon.js"></script>
    
    <script src="/javascripts/libraries/color_picker.js"></script>
    <style type="text/css">
        <%- inline_styles %>
    </style>
  </head>

  <body>
    
    <div id="page_container">
      <div id="inner_page_container">
          <div>
            <div>
              <a href="/"><img src="http://www.casamiento.co.uk/gfx/logo/cas.png" id="logo" class="caz" style="display:block;margin-left:3em;padding:1em;"></a>
            </div>
            
            <div style="position:relative">
          
              <div style="height:50px;float:left;border-top:1px dashed grey;border-bottom:1px solid black;width:25%;text-align:center;">
                <img src="http://www.casamiento.co.uk/gfx/logo/drms.png" style="width:150px;padding-top:0.25em;">
              </div>
              
              <div style="font: 1.2em normal 'OS Light Italic';border-top:1px dashed grey;border-bottom:1px solid black;float:left;width:24.95%;">
                <div style="padding-top:15px;height:35px;border-left:1px dotted grey;text-align:center;">
                  <img src="/gfx/bullets/line_diamond.png" /> About
                </div>
              </div>
              
             <div id="browse" class="browse" style="border-top:1px dashed grey;font: 1.2em normal 'OS Light Italic';float:left;width:24.85%;border-bottom:1px solid black;">
                <div style="padding-top:15px;height:35px;border-left:1px dotted grey;border-right:1px dotted grey;text-align:center;">
                  <img src="/gfx/bullets/line_diamond.png" /> Browse designs
                </div>
              </div>
              
              <div style="height:50px;border-top:1px dashed grey;border-bottom:1px solid black;font: 1.2em normal 'OS Light Italic';float:left;width:24.95%;">
                <div style="padding-top:15px;height:35px;text-align:center;">
                  <img src="/gfx/bullets/line_diamond.png" />  Contact us
                </div>
              </div>
            </div>
            
        <div style="clear:both;"></div>
        
        <div id="designs" class="browse">
          <div style="padding:2em;">
          
            <div id="navigation_selected_tags">
              <div class="tag">All items <div class="tag_close">x</div></div> 
              <div class="tag">Pattern <div class="tag_close">x</div></div>  
              <div class="tag">Damask <div class="tag_close">x</div></div> 
            </div>
            <div id="navigation_options">
            
            <form id="tags_form">
              <table style="font:1em normal 'OS'">
                <tr>
                  <td>
                    <p style="line-height:2em;">
                      <input type="checkbox" name="victorian"></input> Victorian<br/>
                      <input type="checkbox" name="contemporary"></input> Contemporary<br/>
                      <input type="checkbox" name="wallpaper"></input> Wallpaper<br/>
                      <input type="checkbox" name="floral"></input> Floral<br/>
                    </p>
                  </td>
                  
                  <td>
                    <p style="line-height:2em;">
                      <input type="checkbox" name="pattern"></input> Pattern<br/>
                      <input type="checkbox" name="xmas"></input> Xmas<br/>
                      <input type="checkbox" name="plain"></input> Plain<br/>
                      
                      <input type="checkbox" name="hearts"></input> Hearts<br/>
                    </p>
                  </td>
                  
                  <td>
                    <p style="line-height:2em;">
                      <input type="checkbox" name="abstract"></input> Abstract<br/>
                      <input type="checkbox" name="ornamental"></input> Ornamental<br/>
                      <input type="checkbox" name="whimsical"></input> Whimsical<br/>
                      
                      <input type="checkbox" name="vintage"></input> Vintage<br/>
                    </p>
                  </td>              
                </tr>
              </table>
              </form>
            </div>
            <div class="loading" style="text-align:center;display:none;padding:3em;"><img src="/gfx/spinner.gif" /></div>
              <div id="search_results" style="clear:both;"></div>
          </div>
        </div>
      </div>
       
      <div class="left_column"><%- left %></div>       
      <div class="right_column"><%- right %></div>
     
      <div id="footer">
        <div class="genesis_collection"><img src="/gfx/logo/gen_compact.png" style="width:160px"/></div>
        <div class="footer_seperator"><img src="/gfx/three_across.png" style="width:60px"/></div>
        <div class="castello_collection"><img src="/gfx/logo/castello.png" style="width:250px;" /></div>
      </div>
      
      <div style="clear:both;"></div>
    </div>
  </body>
</html>

<script>
$('.browse').mouseover(function() {
  $('#designs').show();
  $('#browse div').css("border", "0")
  $('#browse').css("border", "1px solid black")
  $('#browse').css("border-bottom", 0)
  
})

$('.browse').mouseout(function() {
  $('#designs').hide();
})

Backbone.Syphon.InputReaders.register('checkbox', function($el){
    return $el.prop('checked') ? $el.val() : false;
});
var TagsView = Backbone.View.extend({
    events: {
      'click [type="checkbox"]': 'selectTag'
    },
    selectTag: function(e) {
    $('#search_results').empty();
      var serialized = Backbone.Syphon.serialize(this);
      
      var result = []
      for(var prop in serialized) {
        if(serialized[prop]) {
          result.push(prop)
        }
      }
      result.sort();
      if(result) {
      $('.loading').show();
        $.post("/search",  {tags: result }, function(data) {
        $('.loading').hide();
          $('#search_results').html(data)
        })
      }
    }
})

var tv = new TagsView({el: $('#designs')});

</script>

