<!doctype html>
<html>
    <head>

    <title>Casamiento</title>
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    
    <!-- JQUERY -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.slides.min.js"></script>
    <script src="/javascripts/jquery.nouislider.min.js"></script>
    <script>
    function casamientoCalculator(quantity) {
     
 var price = (299/8);
     var total = quantity * price;
     if ((price > 20) && (price <= 30)) {
        total = total - (10/100 * total);   
     }
     else if ((price > 30) && (price <= 40)) {
        total = total - (15/100 * total);   
     }
     else if ((price > 40) && (price <= 50)) {
        total = total - (20/100 * total);   
     }     else if ((price > 50) && (price <= 60)) {
        total = total - (25/100 * total);   
     }     
     else if ((price > 60) && (price <= 70)) {
        total = total - (30/100 * total);   
     }     else if ((price > 70) && (price <= 80)) {
        total = total - (40/100 * total);   
     }
     total = Math.round(total,2)
     total = total / 100;
     var result = total.toString().split(".")
     return result;
 }
    </script>
       
    </head>

    <body>
    <div id="page_container_casamiento">
        <div id="inner_page_container_casamiento">
            
            <!-- HEADER -->
            
            <div id="top_container">
              <div id="logo"><a href="/"><img src="/gfx/logo/cas.png" style="width:170px;"/></a></div>
              <div style="text-align:center;width:15%;margin-top:30px;margin-right:3em;float:right;border:1px solid black;border-bottom:0;border-top-left-radius:6px;border-top-right-radius:8px;z-index:-5;border-bottom:0;"><img src="/gfx/icons/cart.png" style="width:30px;padding:2px;"/></div>
              <div style="clear:both;"></div>
            </div>
            
            <div id="nav">
                <div class="navbar"><img class="dreams_on_paper" src="/gfx/logo/drms.png" /></div>
                <div class="navbar"><img src="/gfx/bullets/line_diamond.png" /> ABOUT</div>
                <div class="navbar"><img src="/gfx/bullets/line_diamond.png" /> CONTACT</div>
                <div class="navbar"><img src="/gfx/bullets/line_diamond.png" /> LOGIN</div>
            </div>

            <%- body %>
           
            <!-- FOOTER -->
            
            <div id="footer">
              <div class="collection"><img src="/gfx/logo/genesis_footer.png" /></div>
              <div class="footer_seperator"><img src="/gfx/page_seperators/three_across.png" /></div>
              <div class="collection"><img src="/gfx/logo/castello.png" /></div>
            </div>
    
        </div>
   </div>
    </body>
</html>