<!DOCTYPE html>
<html>
    <head>
        <!-- MAIN image: 648 px wide, middle: 482px, smaller images 320px wide, thumb: 120px, margin middle 6px wide-->

        <title>Casamiento</title>
        
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        
    <script src="/javascripts/cufon.js"></script>
    <script src="/javascripts/Trajan_Pro_400.font.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/javascripts/slides.min.jquery.js"></script>
        <script src="/javascripts/jquery.nouislider.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <script>
        Cufon.replace('h1'); // Works without a selector engine
        </script>
    </head>

    <body>

<!-- HEADER -->

<div id="top_container">
  <div id="logo"><img src="/images/logo_branding/casamiento.png" /></div>
  <div id="cart"><a class="trolley" href="">0 items in your trolley</a><img src="/images/trolley.png" /></div>
</div>

<div id="page_container">   

    <div id="nav">
        <div class="navbar"><img class="dreams_on_paper" src="/images/logo_branding/dreamsonpaper.png" /></div>
        <div class="navbar"><img src="/images/bullets/line_diamond.png" /> ABOUT</div>
        <div class="navbar"><img src="/images/bullets/line_diamond.png" /> CONTACT</div>
         <div class="navbar"><img src="/images/bullets/line_diamond.png" /> LOGIN</div>
    </div>

    <%- body %>
</div>

<!-- FOOTER -->

<div id="footer">
  <div class="collection"><img src="/images/logo_branding/genesis_footer.png" /></div>
  <div class="footer_seperator"><img src="/images/page_seperators/three_across.png" /></div>
  <div class="collection"><img src="/images/logo_branding/castello.png" /></div>
</div>
</body>
</html>