<!doctype html>
<html>
    <head>
      
        <title>Casamiento</title>
        
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        
        <!-- JQUERY -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.slides.min.js"></script>
        <script>
        function casamientoCalculator(quantity) {
     
 var price = (299/8);
     var total = quantity * price;
     if ((price > 20) && (price <= 30)) {
        total = total - (10/100 * total);   
     }
     else if ((price > 30) && (price <= 40)) {
        total = total - (15/100 * total);   
     }
     else if ((price > 40) && (price <= 50)) {
        total = total - (20/100 * total);   
     }     else if ((price > 50) && (price <= 60)) {
        total = total - (25/100 * total);   
     }     
     else if ((price > 60) && (price <= 70)) {
        total = total - (30/100 * total);   
     }     else if ((price > 70) && (price <= 80)) {
        total = total - (40/100 * total);   
     }
     total = Math.round(total,2)
     total = total / 100;
     var result = total.toString().split(".")
     return result;
 }
    </script>
       
    </head>

    <body>

    <!-- HEADER -->
    
    <div id="top_container">
      <div id="logo"><a href="/"><img src="/gfx/logo_branding/casamiento.png" /></a></div>
      <div id="cart"><div id="trolley">0 items in your trolley</div><img src="/gfx/viewcart.png" /></div>
    </div>
    
    <div id="page_container">   
    
        <div id="nav">
            <div class="navbar"><img class="dreams_on_paper" src="/gfx/logo_branding/dreamsonpaper.png" /></div>
            <div class="navbar"><img src="/gfx/bullets/line_diamond.png" /> ABOUT</div>
            <div class="navbar"><img src="/gfx/bullets/line_diamond.png" /> CONTACT</div>
            <div class="navbar"><img src="/gfx/bullets/line_diamond.png" /> LOGIN</div>
        </div>
    
        <%- body %>
    </div>
    
    <!-- FOOTER -->
    
    <div id="footer">
      <div class="collection"><img src="/gfx/logo/genesis_footer.png" /></div>
      <div class="footer_seperator"><img src="/gfx/page_seperators/three_across.png" /></div>
      <div class="collection"><img src="/gfx/logo/castello.png" /></div>
    </div>
    
    </script>
</body>
</html>