<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <title>Casamiento</title>
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        
  </head>

  <body>
<!--
  MAIN PAGE
  -->
  
  <div id="page_container_casamiento">
    <div id="inner_page_container_casamiento">
          
      <!-- HEADER -->
      
      <div id="top_container" style="padding-top:1em;color:black;">
        <div id="logo" style="float:left;width:20%;text-align:center;padding-bottom:0.25em;"><a href="/"><img src="/gfx/logo/cas.png" style="width:170px;"/></a></div>
        <div id="browse" style="border-top-left-radius:8px;border-top-right-radius:8px;margin-top:1em;width:20%;float:left;text-align:center;font:normal 1.3em 'OS Light';"><div style="border-top-left-radius:8px;border-top-right-radius:8px;position:relative;top:1px;background-color:white;z-index:10001;padding:0.3em">BROWSE DESIGNS</div>
        <div id="designs" style="display:none;position:absolute;width:90%;background-color:white;right:5%;z-index:1000;border:1px solid black;">
            
            <% documents.forEach(function(place) { %>
            <div class="place_square_<%= place._id %> place_square" style="width:30%;display:inline-block">
        <div class="inner_place_square"><%- place.divs[0] %></div>
        <div class="inner_place_square_hidden" style="display:none"><%- place.divs[1] %></div>
    </div>
            <% }) %>
            
        </div></div>
        <div id="contact" style="margin-top:1em;width:20%;float:left;text-align:center;font:normal 1.3em 'OS Light';border-left:1px solid black;padding-bottom:0;margin-bottom:0;">CONTACT US</div>
       <div style="margin-top:1em;width:39%;float:left;padding-bottom:0;margin-bottom:0;padding-top:0.25em;text-align:center;">
       <table style="width:75%;border-top:1px dashed black;">
       <tr><td style="vertical-align:middle"><img src="/gfx/icons/cart.png" style="width:30px;padding:2px;"/></td>
       <td style="vertical-align:middle"><p class="casamiento" style="margin:0;padding:0;font:normal 1.4em 'OS Light'"> View basket</td>
       <td  style="vertical-align:middle"><p class="casamiento" style="margin:0;padding:0;font:normal 1em 'OS Light'">2 items</p></td>
       
      <td style="vertical-align:middle"><p class="casamiento" style="margin:0;padding:0;font:normal 1em 'OS Light'">&pound;3.78</p></td>
      </tr>
      </table>
        <div style="clear:both;"></div>
      </div>
      
      
      <div>
      <div style="width:20%;float:left;border-top:1px solid black;">
          <div class="navbar" style="text-align:center;border-right:1px solid black;"><img class="dreams_on_paper" src="/gfx/logo/drms.png" style="width:140px;padding-top:5px;padding-bottom:0;margin-bottom:0;"/></div>
          </div>
          
          <div style="clear:both;"></div>
          
      <div style="width:80%;float:right;border-bottom:1px solid black;"></div>
          </div>

      <%- body %>
     
      <!-- FOOTER   -->
      
      <div id="footer">
        <div class="genesis_collection"><img src="/gfx/logo/gen_compact.png" style="width:160px"/></div>
        <div class="footer_seperator"><img src="/gfx/three_across.png" style="width:60px"/></div>
        <div class="castello_collection"><img src="/gfx/logo/castello.png" style="width:250px;" /></div>
      </div>

      </div>
    </div>
  </body>
</html>

<script>
$('#browse').mouseenter(function() {
$('#browse').css('border', '1px solid black')

  $('#contact').css('border-left', '1px solid transparent')
  $('#designs').show()
})

$('#browse').mouseleave(function() {
  $('#designs').hide()
  
  $('#contact').css('border-left', '1px solid black')
  $('#browse').css('border', '1px solid transparent')
})
</script>