<!doctype html>
<html>
    <head>
<meta name="viewport" content="initial-scale=1">
    <title>Casamiento</title>
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    
    <link rel="stylesheet" href="/stylesheets/nouislider.space.css" />
    <!-- JQUERY -->
        
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.slides.min.js"></script>

    <script src="/javascripts/respond.js.min"></script>
    <script src="/javascripts/jquery.nouislider3.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
   
       
<script type="text/javascript" src="/javascripts/product.js"></script>
    </head>

    <body><div id="total_price" style="height:100px;border:1px dotted black;border-left:0;border-top-right-radius:20px;border-bottom-right-radius:20px;width:200px;text-align:center;background-color:white;z-index:500;"><p style="color:black;text-align:center;font: normal 4em 'OS Light'">
<span style="font-size:0.65em;vertical-align:top;">&pound;</span>2<span style="font-size:0.65em;vertical-align:text-top;">.99</span></p><div id="buy" style="display:inline-block;"></div>
</div>  
    <div id="page_container_casamiento">
        <div id="inner_page_container_casamiento">
            
            <!-- HEADER -->
            
            <div id="top_container">
              <div id="logo"><a href="/"><img src="/gfx/logo/cas.png" style="width:170px;"/></a></div>
              <div style="width:15%;margin-top:30px;margin-right:2em;float:right;">
              <div style="position:relative;background-color:white;top:1px;z-index:100;left:0;text-align:center;border:1px solid black;border-bottom:0;border-top-left-radius:6px;border-top-right-radius:8px;border-bottom:0;"><img src="/gfx/icons/cart.png" style="width:30px;padding:2px;"/></div>
              
              </div><div style="clear:both"></div>
            </div>
            
            <div id="nav">
                <div class="navbar"><img class="dreams_on_paper" src="/gfx/logo/drms.png" /></div>
                <div class="navbar"><img src="/gfx/bullets/line_diamond.png" /> ABOUT</div>
                <div class="navbar"><img src="/gfx/bullets/line_diamond.png" /> CONTACT</div>
                <div class="navbar"><img src="/gfx/bullets/line_diamond.png" /> LOGIN</div>
            </div>

            <%- body %>
           
            <!-- FOOTER -->
            
            <div id="footer">
              <div class="collection"><img src="/gfx/logo/genesis_footer.png" /></div>
              <div class="footer_seperator"><img src="/gfx/page_seperators/three_across.png" /></div>
              <div class="collection"><img src="/gfx/logo/castello.png" /></div>
            </div>
    
        </div>
   </div>
    </body>
</html>