<!doctype html>
<html>
  <head>
  
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    
    <title>Casamiento</title>
   
    <link rel="shortcut icon" href="/favicon.ico" />   
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700italic,400italic' rel='stylesheet' type='text/css'>   
    <link rel="stylesheet" href="/stylesheets/reset.css" />     
    <link rel="stylesheet" href="/stylesheets/main.css" />   
    <link rel="stylesheet" href="/stylesheets/welcome.css" /> 
   
    <style type="text/css">
      <%- inline_styles %>
    </style>
    
  </head>

  <body>
    
    <div id="inner_page_container">
      <%= include ./partials/header.ejs %>
      <div id="welcome_column"><%- middle %></div>
    
      <%= include ./partials/footer.ejs %>
    
    <div style="clear:both;"></div>
  
  </body>
  
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="/javascripts/libraries/jquery.slides.min.js"></script>
  <script type="text/javascript" src="/javascripts/libraries/picturefill.min.js"></script>
  <script>
  $(function() {              
    $("#slides_container").slidesjs({
      width: 360,
      height: 207,
      play: {
        active: false,
        auto: true,        
        interval: 5000
      },
      pagination: {
        active: true
      }, 
      callback: {
        loaded: function(n) {
          $('#slides_spinner').hide();
        }
      },
      navigation: { 
        active: true }
      })
    })
  </script>
</html>