<div id="cart_page" style="display:none;">
    <div id="view_trolley" style="text-align:center;margin:auto; width:100%; border-bottom:1px solid grey; padding-top:10px; padding-bottom:10px;margin-bottom:10px;">
        <img src="/images/view_trolley.png" />
    </div>
    
    <div style="float:left;width:340px;padding:10px;">
        <h1 class="product_name" style="float:left";>  <img src="/images/bullets/bullet_square_dots.png" /> Simplicity</h1>
        <img src="/products/<%= _id %>/attachments/display-1" />
    </div>
    <div style="float:left; width:350px;">
        <div id="monogram" style="padding:10px;">
            <h5><img src="/images/bullets/small_dot_square.png" /> Monogram style:</h5>
        </div>
        <div id="colours">
            <h5><img src="/images/bullets/small_dot_square.png" /> Colours:</h5>
        </div>
        <div id="quantity">
            <h5><img src="/images/bullets/small_dot_square.png" /> Quantity</h5>
        </div>
    </div>
    <div style="float:left; width:200px; margin-left:15px;">
        <div id="guests">
            <h5><img src="/images/bullets/small_dot_square.png" /> Guests:</h5>
        </div>
    </div>
</div>