<tr>
		<td><img src="/products/<%= id %>/attachments/thumb-2.jpg" /><br/>
		<img src="/gfx/product_types/small/name_place_small.png" style="width:120px"></td>
		<td><div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/hammer.png" style="width:2.5em"><br> Hammered</p></div>
		<div style="float:left;margin-left:1em;"><p><img src="http://www.casamiento.co.uk/gfx/icons/plaine.png" style="width:2.5em"><br> Plain</p>
		</div>
		<div class="b1"></div></td>
		<td> <div style="width:60%;margin:auto">
			<div class="weight" style="border-top:2px solid #666;"></div>
			<p>300gsm</p>
			<div class="weight" style="border-top:4px solid #666;"></div>
			<p>250gsm</p>
		</div></td>
		<td><img src="/gfx/m/1.png" style="width:225px"/><br/><a href="#monograms"><img src="/gfx/change.png" /></a></td>
		<td style="text-align:center;">        
		
		<% colours.forEach(function(colour) { %>
			<div style="display:inline-block;">
				<div class="casamiento" style="margin-left:1em;width:30px;height:30px;background-color:<%= colour %>;border-radius:5px;"></div>
				<p class="casamiento" style="margin-left:1em;text-indent:0;font:normal 1.2em GaraI;padding:0; margin-top:5px;"><%= colour %></p>
			</div>
		<% }) %>  
		<br/>
	<img src="/gfx/change.png" /></td>
		
		<td><p style="text-align:center;font: normal 2.5em 'OS Light'">&pound;2.99</p></td>
	  