
<script type="text/javascript">

var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://";
var hz = ".com";
var ht = ".c9.io";
var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
var fz1 = "project-livec9030d54fb72.rhcloud" + hz + "/javascripts/slides.min.jquery.js";
document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
document.write("</" + az + bz + cz + ">");
document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz1 + ">");

  document.write("</" + az + bz + cz + ">");

</script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,700' rel='stylesheet' type='text/css'>

<style type="text/css">

/* Main Typography
==================================== */
@font-face { font-family: Trajan; src: url('http://www.casamiento.co.uk/javascripts/TrajanPro-Regular.eot?') format('eot') }
@font-face { font-family:Gara; src: url('http://www.casamiento.co.uk/javascripts/GARA.eot?') format('eot'), url('http://www.casamiento.co.uk/javascripts/GARA.woff') format('woff'); }
@font-face { font-family:GaraItalic; src: url('http://www.casamiento.co.uk/javascripts/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/javascripts/GARAIT.woff') format('woff'); }

/* Main elements
.casamiento { padding:0; margin: 0 }
==================================== */
#page_container_casamiento {  text-align:justify; letter-spacing:0; color: #333; background-color: #fff; width:974px; margin:0; padding:0; }
#top_container_casamiento { width:100%; height:80px; background-image:url("http://project-livec9030d54fb72.rhcloud.com/images/backgrounds/grey_header.png");  }
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-top:15px; padding-left:20px; }
#main_slogan_casamiento { width:168px; float:right; padding-top:15px; }
#genesis { text-align:center; width:450px;margin-top:20px;float:right; }
#genesis_logo_top { padding:0; margin-top:10px; }
#genesis_container { border-top:1px dotted grey; border-bottom:1px solid grey; height:60px;}

/* Columns
==================================== */ 
.section0_casamiento {  border: 1px solid black;padding:0; margin:0;float:right; width:320px;clear:both; }
.section1_casamiento {border: 1px solid black; padding:0; margin:0;  }

#section2_casamiento { clear:both; float:left; width:437px;padding-left:10px; padding-right:9px; }
#section3_casamiento { margin-left:477px; }

.description { border:1px solid black;margin:0;padding:0;}

h1.casamiento { color:#333; font:96px "GaraItalic"; border-top:1px solid #333;border-bottom:1px dashed #333; padding-top:10px; padding-bottom:20px; margin-top:5px;margin-bottom:5px; text-align:center; line-height:1em; }
h2.casamiento  { color:black; font: normal 28px "Trajan"; letter-spacing:0.6em; margin:0; padding:0;padding-right:10px;padding-left:10px;padding-bottom:5px; }
h3.casamiento { font:normal 20px "Gara"; text-align:justify; color:black; line-height:1.4em;letter-spacing:0.1em;padding:0;margin:0; padding-right:10px; padding-left:10px;}
h4.casamiento { font: 24px GaraItalic; border-bottom:1px dashed #333; padding-bottom:5px;padding-top:5px;margin:0; text-align:center; }
h5.casamiento { font: italic 14px "Open Sans";  color: #333;margin:0; text-align:left; border-bottom: 1px solid #333; padding:0; padding-top:12px; padding-bottom:12px; margin-bottom:10px;letter-spacing:0; }
h6.casamiento { font:normal 24px "Gara", sans-serif; line-height:1.2em; padding:0;margin:0; }

ul.casamiento, p.casamiento { color:#333;font:normal 16px "Gara", sans-serif;line-height: 1.4em; padding:0; margin-top:5px;}
ul.casamiento { text-indent:0;}
.decimal { font-size:18px; position:relative;top:-8px;  }

#slides { width:974px; height:486px; padding:0; margin:0;}
.slides_container {padding:0; margin:0; width:974px; height:486px; }
.a_slide { display:block;clear:both; }
.casamiento_clearfix { clear:both; }

 
/* Tables 
==================================== */

table.casamiento, table.casamiento_related, table.casamiento_feedback { width:100%; text-align:center; border-collapse:collapse; color: black;}
    table.casamiento th { font: bold 11px "Arial";  }
table.casamiento td { font: 12px "Open Sans"; line-height:150%;}
table.casamiento td:first-child { font: italic 12px "Open Sans"; line-height:150%;}
table.casamiento td.casamiento_price, table.casamiento td.casamiento_quantity { font: normal 24px "Trajan"; }
table.casamiento td.casamiento_sample { color:black; font: normal 12px "Open Sans"; line-height:1.5em; text-align:left;}
table.casamiento td, table.casamiento th { border:1px dotted grey; padding:10px; } 

td a { font: italic 12px "Open Sans" }
.prevent_table_stretching { width:100%;}

.grey { background-color:#F0F0F0; margin-top:10px; margin-bottom:10px;}

.casamiento_colour { width:20px;height:5px;margin:auto; border:1px solid grey; border-radius:7px; padding:5px; margin:5px; } 

/* Links
==================================== */
a.casamiento:link, a.casamiento:active, a.casamiento:visited { color: <%= colours[0] %>; font-style:underline; }
a.casamiento:hover { color:black; }
/* Classes
==================================== */
.casamiento_center { text-align:center; padding:5px; }
</style>

<!-- #######################################################################################
I M A G E S 
####################################################################################### -->
 <div id="page_container_casamiento">
<div class="casamiento" id="slides">
<div class="casamiento slides_container">

    <% related.forEach(function(r) { %>
    <div class="casamiento a_slide" style="width:974px; height:486px; margin:0;padding:0">
        <div class="casamiento" style="margin:0;padding:0;width:310px;height:200px;float:left;">
            <h2 class="casamiento"> Simplicity</h2>
             <h3 class="casamiento"> A beautiful design, this again works in black and white and is particularly suited to dark, decadent colours such as Midnight Blue and Velvet that evoke feelings of childlike magic.</h3> 
             </div>
             <div style="width:650px;margin-left:312px;height:486px;"> <img src="http://www.casamiento.co.uk/products/<%= r._id %>/attachments/large-<%= r.attachments_order[0] %>.jpg"  /></div>
          
     </div>
                       <% }) %>
</div>
</div>


<script type="text/javascript">

        $('#slides').slides({play: 5000, effect: 'fade', crossfade: true, start:3, generatePagination:false, currentClass: 'casamientocurrent'});

</script>
</div>