.browse_left_column { clear:both;}
.browse_right_column { float:right; }

.browse_left_column, 
.browse_right_column {
  width:50%;
  float:left;
}

.browse_background_container {
  position:absolute;
  width:100%;
  height:100%;
  z-index:0;
}
.related { margin-bottom:0.5em; }

.related_0 {
  width:60%;
  float:left; 
}

.related_2, 
.related_5 { 
  width:60%; 
  float:right; 
}

.related_1, 
.related_3, 
.related_4 { 
  width:39%; 
  float:left;
}

.browse_right_column .related_0 { width:100%; }

.browse_right_column .related_1 {
  width:50%;
  float:left;
}
.browse_right_column .related_2 {
  width:50%;
  float:right;
}

.browse_right_column .related_3 {
  width:39%;
  clear:both;
  float:left;
}

.browse_right_column .related_4 {
  width:60%;
  float:right;
}

  .place_square img { 
    width:100%;
    display:block;
    position:relative;
  }

.inner_place_square{
  position:relative;
  width:100%;
}
.related .frame { border:1px solid grey;}
.related_1 .frame,
.related_3 .frame,
.related_4 .frame {
  border:1px dotted grey;
}

.related_5 .frame {
  border:1px dashed grey;
}

.related .frame:hover {
  border:1px solid black;
}

.browse_left_column .related_0 h2,
.browse_left_column .related_2 h2,
.browse_left_column .related_5 h2 { 
  font-size:1.9em;
}

.related_1 h2, 
.related_3 h2, 
.related_4 h2 { font-size:1.4em; letter-spacing:0.2em;}

.browse_right_column .related_0 h2 {
  font-size:2.8em;
}
.browse_right_column .related_2 h2 {
  font-size:1.4em;
}

.browse_right_column .related_4 h2 {
  font-size:1.9em;
}

@media all and (min-width: 220px) and (max-width: 500px) {
/* ----------------------------------------------------------------------------- */    
   
  .browse_left_column,
  .browse_right_column {
    float:none;
    clear:both;
    width:100%;
  }
   
  .related { margin-bottom:0; }
  
  .related_1 h2, 
  .related_3 h2, 
  .related_4 h2 { 
    margin-top:0.3em;
    margin-bottom:0.3em;
    font-size:1.2em;
    letter-spacing:0.2em;
  }
 
  .related_0 h2, 
  .related_2 h2, 
  .related_5 h2,
  .related_6 h2 { 
    font-size:1.7em; 
    margin-top:0.3em;
    margin-bottom:0.3em;
    letter-spacing:0.2em;
  }
   
 }
 
/* Phablet */
@media all and (min-width: 501px) and (max-width: 800px) {
/* ----------------------------------------------------------------------------- */    
  .browse_left_column,
  .browse_right_column {
    float:none;
    clear:both;
    width:100%;
  }
}