@font-face {  font-family:"TrajanPro"; src: url('http://www.casamiento.co.uk/f/t.eot?') format('eot'), url('http://www.casamiento.co.uk/f/trajan.woff') format('woff'); }
@font-face { font-family:"Gara"; src: url('http://www.casamiento.co.uk/f/GARA.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARA.woff') format('woff'); }
@font-face { font-family:"GaraItalic"; src: url('http://www.casamiento.co.uk/f/GARAIT.eot?') format('eot'), url('http://www.casamiento.co.uk/f/GARAIT.woff') format('woff'); }
@font-face { font-family:"PlayFair Display SC"; src: url('http://www.casamiento.co.uk/f/playfairdisplaysc.eot?') format('eot'), url('http://www.casamiento.co.uk/f/playfairdisplaysc.woff') format('woff'); }
@font-face { font-family:"Open Sans"; src: url('http://www.casamiento.co.uk/f/OpenSans-Regular-webfont.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OpenSans-Light-webfont.woff') format('woff'); }
@font-face { font-family:"Open Sans Light"; src: url('http://www.casamiento.co.uk/f/OpenSans-Light-webfont.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OpenSans-Light-webfont.woff') format('woff'); }
@font-face { font-family:"Open Sans Italic Light"; src: url('http://www.casamiento.co.uk/f/OpenSans-LightItalic-webfont.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OpenSans-LightItalic-webfont.woff') format('woff'); }
@font-face { font-family:"Open Sans Condensed"; src: url('http://www.casamiento.co.uk/f/OpenSans-CondBold-webfont.eot?') format('eot'), url('http://www.casamiento.co.uk/f/OpenSans-CondBold-webfont.woff') format('woff'); }
.casamiento { padding:0; margin:0; }
.clearboth {  clear:both }

body { background-image:url("http://project-livec9030d54fb72.rhcloud.com/images/backgrounds/grey_header.png"); padding:0;margin:0;  }

#page_container_casamiento {  background-color: #fff; width:95%;margin:auto; }
#inner_page_container_casamiento { border-left:1px dotted black; border-right:1px dotted black; }
#header_container_casamiento { }
#main_logo_casamiento { text-align:left; width:25%; float:left; padding-left:20px; }
#main_slogan_casamiento { float:right;  }
#genesis { text-align:center;  }
#genesis_logo_top {  width:22em; }
#genesis_container { border-top:1px dotted grey; border-bottom:1px solid grey; width:100%; margin:auto; text-align:center;}

/* Columns
==================================== */ 
#section2_casamiento { clear:both; float:left; width:61%; padding-left:1.72%; }
#section3_casamiento { margin-left:63.72%;  }

img.expand { width:100% }

h1.casamiento { color:#444; font:3em "Playfair Display SC";  margin-top:0;line-height:1.5em; margin-bottom:1.5em;padding-left:10px; padding-right:10px;letter-spacing:0em;line-height:1.25em;padding-right:5%;}

h2.casamiento  { color:black; text-align:center; font: normal 2.5em "TrajanPro", sans-serif; letter-spacing:10px; margin:0; padding:0;padding-right:10px;padding-left:10px;margin-top:0.75em;margin-bottom:0.75em;  }

h3.casamiento { font:normal 1.375em "Gara"; text-align:justify; color:black; line-height:1.5em;letter-spacing:0.1em;padding:0;margin:0; margin-bottom:1.5em; padding-right:10px; padding-left:10px;}

h4.casamiento { color:#444;font: 1.25em "Playfair Display SC";  margin:0; margin-bottom:0.75em; margin-top:0.75em; text-align:left; }

h5.casamiento { font: normal 1em "Open Sans Italic Light", serif;  color: #000;margin:0; text-indent:1em;text-align:left; border-bottom: 1px solid #333; padding-top:0.75em; padding-bottom:0.75em;line-height:1.5em; margin-bottom:1.5em;margin-top:1.5em; }

h6.casamiento { font: normal 1.375em "Open Sans Light", serif; text-indent:1em; line-height:1.5em; margin:0; margin-bottom:1.5em; color:#333;}

p.casamiento { padding: 0 0.25em 1.5em 0.25em 0; color:#000;font: normal 1em "Open Sans", serif;line-height: 1.5em; padding:0; margin-bottom:1.5em;}

.decimal { font-size:0.75em; position:relative;top:-8px;  }
.casamiento_center { text-align:center; }
#actual_side_images { width:30%;float:left; }
#slides_container { float:right;width:69%; }
.ornamental_line { text-align:center; padding-top:5px; }

/* Colours
==================================== */
.quote { padding-bottom:5px;padding-top:10px; }

.colour_square { width:100%;padding-bottom:100%;border-radius:0.5em; }
.colour_label { font-family:'Open Sans';font-weight:300;font-size:1.5em;line-height:1em;margin-top:0.25em;margin-bottom:0.5em;}

/* Specificatinos 
==================================== */
#specifications { clear:both; display:table;  border-collapse:collapse; width:100%; }
#paper { text-align:left; }
.table-cell { display:table-cell;vertical-align:top; border:1px dotted grey; padding:0.5em; }
    .table-cell  h1 { font-family:"Open Sans Condensed";  font-size:0.75em; margin:0;}
    .table-cell p { font-family:"Open Sans"; font-size:0.8em; padding:0; margin:0em; line-height:1em;}
.quantity_sold p { font-family:"Open Sans"; font-weight:300;font-size:2em; text-align:center; }
#product_type { text-align:center; vertical-align:middle; }

/* Monograms 
======================================== */
#monogram_frame { clear:both;border-top:1px dotted black; border-bottom:1px dotted black; margin-bottom:10px; width:100%;}
#monogram_icon { width:20%;border:0;clear:both;height:50px;text-align:center;float:left;}

#monogram_holder { float:left; width:40%;border-left:1px dotted black; border-right:1px dotted black;}
#monogram_description { width:34%;float:left;  }
#monogram_description p { font-size:14px; padding-left:1em;}

.related_product_holder{ display:table;width:100%;text-align:center; border-collapse:collapse;}
.related_product_type_header { height:4em; }
.related_product_row { display:table-row; width:100%;}
.related_product { display:table-cell; text-align:center; width:33%; border:1px dotted black;vertical-align:middle;}
.related_product img.thumb_related { width:100%; }

/* product type icons responsive
==================================== */
.name_place_icon { width:130px; margin:auto; }
.invitation_icon { width:103px; margin:auto; }
.envelope_icon { width:83px; margin:auto; }
.rsvp_icon { width:75px; margin:auto; }
.monogram_design_icon { width:107px;margin:auto; }
