.font_selector_container {
  position:relative;
}
  .up_arrow_container { 
    z-index:10000;
    height:60px;
    top:-60px;
    background-color:white;
    display:none;
    position:absolute;
    width:100%;
  }
  
    .up_arrow { 
      height:60px;
      line-height:60px;
      text-align:center;
      border:1px solid black;
      border-bottom:0;
      font-size:1em;
      font-stretch:expanded;
    }
    
  table.selected_font { 
    position:relative;
    z-index:0;     
    border-collapse:collapse;
  }
  
  table.fonts_table {
    text-align:center;
    background-color:white;
    border:1px solid black;
    border-collapse:collapse;
    border-spacing:0;
    z-index:100000;
    position:absolute;
    width:100%;
  }  

  #fonts td, #ui_font_picker td { 
    border-bottom:1px dotted lightgrey;
    vertical-align:middle; 
    font: normal 1em 'OS Light';
  }
  #fonts tr, #ui_font_picker tr { 
    height:50px
  }  
  
    .selected_font td.font_name {
      text-align:center;
      border-bottom-right-radius: 15px;     
      border-bottom:0;
    }
    .selected_font td.font_image {
      border-bottom:0;
      text-align:center;
      border-top-left-radius: 15px;
    }    
    
  #fonts .selected_font td, #ui_font_picker .selected_font td {
    border-bottom:0; 
  }
.font_selector_container tr:hover, .up_arrow:hover { 
      background-color:lightgrey;
      cursor:pointer;
    }

 td.font_name, td.font_description { width:40%;}
  td.font_image { width:60%;}

  h2 { font-family:"Gara";font-weight:normal;}
  
  
  

  @media all and (min-width: 300px) and (max-width:1025px) {
 

  
  td.font_name, td.font_description { display:none; }
 
  td.font_image { width:100%; }
  
    }