/* YAHOO RESET =========================================== */
  html {color:#000;background:#FFF;}
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
  fieldset,img {border:0;}
  address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
  li{list-style:none;}
  caption,th{text-align:left;}
  h1,h2,h3,h4,h5,h6{font: normal 100%/2 Georgia, serif; letter-spacing:-0.05em; margin: 0.3em 0 0.3em; }
  q:before,q:after{content:'';}
  abbr,acronym{border:0;font-variant:normal;}
  sup{vertical-align:text-top;}
  sub{vertical-align:text-bottom;}
  input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
  input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

  body { font:13px/1.5 "Arial","Helvetica",sans-serif;*font-size:small;*font:x-small;color:#000; }
  select, input, button, textarea { font:99% arial,helvetica,clean,sans-serif; }
  table { font-size:inherit;font:100%;width:100%; }
  pre, code, kbd, samp, tt { font-family:monospace;*font-size:108%;line-height:100%; }
  
  
/* Typography
==================================== */
@font-face { font-family:"Gara"; src: url('/f/GARA.eot?') format('eot'), url('/f/GARA.woff') format('woff'); }
@font-face { font-family:"TP"; src: url('/f/t.eot?') format('eot'), url('/f/t.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('/f/GARAIT.eot?') format('eot'), url('/f/GARAIT.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('/f/OSReg.eot?') format('eot'), url('/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('/f/OSL.eot?') format('eot'), url('/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS Light Italic"; src: url('/f/OSLI.eot?') format('eot'), url('/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('/f/OSCB.eot?') format('eot'), url('/f/OSCB.woff') format('woff'); }

h1 { 
  text-align:center;  
  font-family: TP; 
}
  .product_name { 
    font-size:2.5em;  
    text-align:center; 
    letter-spacing:0.2em;
  }

h2 {
  text-align:center; 
  font: normal 2.2em "TP", sans-serif; 
  letter-spacing:10px; 
  padding-right:10px;
  padding-left:10px;
  margin-top:0.5em;
  margin-bottom:0.5em; 
  }
  
  .place_square_2 h2, .place_square_3 h2, .place_square_5 h2, .place_square_6 h2,.place_square_8 h2, .place_square_9 h2, .place_square_11 h2, .place_square_12 h2 { font-size:1.2em; }
  
  #search_results h2 { font-size:1.2em; letter-spacing:0.1em;}
  
h3 { 
  font:normal 1.3em Gara;
  letter-spacing:0.1em;
  text-align:center;
  margin-top:0.5em;
  margin-bottom:0.5em;
  border-bottom:1px solid black;
  padding-bottom:1em; 
  text-transform:uppercase
}

h4 { 
  font: normal 0.9em "OS Condensed"; 
  letter-spacing:0.01em;   
}

h5 {
  border-bottom: 1px solid grey; 
  font: bold 0.85em "OS Light", sans-serif; 
  padding-bottom: 10px; 
}
  #welcome_column h5 { 
    font: normal 2.5em "Gara";
    letter-spacing:0.05em; 
  }
  
h6 { 
  font-size:20px; 
  text-align:justify; 
  letter-spacing:0.1em; 
  line-height:150%; 
  font-family: "Gara"; 
}
.small { font-size:0.85em;}

p { 
  padding: 0 0.25em 0.75em 0.25em 0; 
  font: normal 0.9em "OS", sans-serif;
  line-height: 1.5em; 
  padding:0; 
  margin-bottom:1.5em;
}
  #welcome_column p { 
    font: normal 1.1em "OS", sans-serif;
  }
  
.pound_sign, .decimal { font-size:1.6em; position:relative;top:-8px;}
.number {  font-size:2.4em;  }

a:link, a:visited { text-decoration:none;color: #000; }
  a:hover { text-decoration:underline;}
  a:active { color: #29A4BD; }

/* FORMS
===================================== */  
form { display:inline; }
input { 
  display:inline;
  outline:none;
  border:1px solid darkgrey; 
  font: normal 1.2em "OS";
  padding:0.25em; 
} 
  input:focus, input:hover { background-color: lightgrey;}

/* LAYOUT
==================================== */
#page_container { 
  background-image:url('/gfx/backgrounds/grey_header.png'); 
}

  #inner_page_container { 
    background-color:#fff; 
    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
    margin:auto; 
    width:97%;
  }  
   
    #logo { 
      display:block;
      margin-left:3em;
      padding:1em;      
      width:202px;
    }
    #menu_lines {
      float:right;
      margin-right:20px;
      width:20px;
      padding-top:10px;
      display:none;
    }
    #slogan_container { 
      height:50px;
      float:left;
      border-top:1px dashed grey;
      border-bottom:1px solid black;
      width:25%;
      text-align:center;
    }
    
    #dreams_slogan { 
      padding-top:0.25em;
      width:150px;
    }
    
    .nav_link {
      border-top:1px dashed grey;
      border-bottom:1px solid black;
      float:left;      
      font: 1.2em normal 'OS Light Italic';
      width:24.75%;
    }
    
    
    /* Navigation */
    
    #designs { 
      background-color:white;
      border:1px solid black;
      border-bottom-left-radius:15px;
      border-bottom-right-radius:15px;
      border-top:0;
      box-shadow:7px 7px 0px lightgrey;
      display:none;
      left:0;
      margin:0 auto;
      position:absolute;
      right:0;
      width:75%;
      z-index:5000;
      }
        
      #navigation_selected_tags {  
       float:left;
       text-align:center;   
       width:33%;
      }
    
       .tag { 
        border-radius:15px;
        display:inline-block;
        background-color:#EEE;
        color:#000;
        font:1em normal 'OS';
        padding:0.5em;
      }
      
        .tag_close {
          display:inline-block;
          border-radius:10px;
          width:20px;
          height:20px;
          color:white;
          background-color:darkgrey;
          font:1em normal 'OS';
          text-align:center;
        }
      
      #navigation_options { 
        border-left:1px solid grey;
        float:left;
        padding-left:1em;
        text-align:left;
        width:65%;
      }
      #browse div:hover { background-color:#EEE;}
      #browse div { padding-top:15px;height:35px;border-left:1px dotted grey;border-right:1px dotted grey;text-align:center;}
       
      #search_results img { width: 100%;}
      .search { border-radius:10px;}
     
      .search_image { border:1px solid transparent;}
      .search_image:hover { opacity:0.85; border:1px solid grey; border-radius: 10px;}
    .left_column { 
      float:left; 
      width:70%; 
      background-color:#fff
    }
    .right_column {
      background-color:#fff; 
        border-left:1px dotted black;
        margin-left: 70%; 
        text-align:center; 
        min-width:180px;
    }
    #footer { 
      border-left: 1px dotted #939598;      
      border-top: 1px solid #939598;
      border-right: 1px dotted #939598; 
      clear:both; 
      height:60px; 
      margin: 0 auto; 
      padding-top:10px; 
    }
  
      .footer_seperator {  
        text-align:center; 
        padding-top:1em;  
        float:left;  
        width:20%; 
      }
    #footer .genesis_collection, #footer .castello_collection { 
      width:40%; 
      float:left; 
      text-align:center; 
    }
/* WELCOME PAGE 
=================================== */

.left_welcome_column { width:49.5%; float:left; }
.right_welcome_column { width:49.5%; float:right;}

.customise {
  background-color:white;
  border-bottom-left-radius:12px;
  font: normal 1.1em 'OS Light';
  padding:5px;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  z-index:10001;
}
.place_square { 
  border:1px solid white;
  border-bottom:1px solid grey; 
  margin:0;
  margin-bottom:1em;
  padding:0;
  padding-bottom:1em;
}

  .place_square img { width:100%; }
  .place_square:hover { 
    border:1px solid grey; 
    cursor:pointer;
    text-decoration:underline; 
  }
  
  .place_square_2, .place_square_3, .place_square_5, .place_square_6, .place_square_8, .place_square_9, .place_square_11, .place_square_12 { 
    float:left;
    width:49.25%; 
  }
    
  .place_square_4, .place_square_7, .place_square_10 { 
    float:left;
    width:100%; 
  }

  .inner_place_square, .inner_place_square_hidden { 
    margin-bottom:0;
    padding:0.25em;
  }

/* GLOBAL CLASSES
=========================== */

.deselected { opacity:0.4; }
  .deselected:hover, .selected {
    opacity: 1; 
    cursor:pointer;
  }
  
.shell { 
  background-image:url('/gfx/shell.png');
  background-repeat:no-repeat; 
  background-position:center;
  background-size:24px 17px;
  height:17px;
  padding-top:1em;
  padding-bottom:1em;
}

.ornamental_line { 
  background-image:url('/gfx/ornamentalline.png');
  background-repeat:no-repeat; 
  background-position:center;
  background-size:179px 5px;
  height:5px;
  padding-top:0.5em;
}
.spinner { 
  text-align:center;
  display:none;
}
.clearfix { clear:both; }

.grey_button {
  margin:1em;
  cursor:pointer;  display:inline-block;
  background-color:grey;
  padding:2em;
  color:white;
  border-radius:10px;
}

  .grey_button:hover { 
    background-color:black;
  }