/* Typography
==================================== */
@font-face { font-family:"Gara"; src: url('/f/garamond.eot?') format('eot'), url('/f/garamond.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('/f/garamonditalic.eot?') format('eot'), url('/f/garamonditalic.woff') format('woff'); }
@font-face { font-family:"TP"; src: url('/f/t.eot?') format('eot'), url('/f/t.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('/f/OSReg.eot?') format('eot'), url('/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('/f/OSL.eot?') format('eot'), url('/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS Light Italic"; src: url('/f/OSLI.eot?') format('eot'), url('/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('/f/OSCB.eot?') format('eot'), url('/f/OSCB.woff') format('woff'); }
@page {
  margin:0;
  padding:0;
}
body {
  height:800px; /* Keeps scrollbars always visible in order to get correct width of body (if scrollbars are not visible then the body width is 16pixels smaller) */
}

h1 { 
  text-align:center;  
  font-family: TP; 
}
  .product_name { 
    font-size:2.5em;  
    text-align:center; 
    letter-spacing:0.2em;
  }

h2 {
  text-align:center; 
  font: normal 2.2em "TP", sans-serif; 
  letter-spacing:10px; 
  padding-right:10px;
  padding-left:10px;
  margin-top:0.5em;
  margin-bottom:0.5em; 
  }
  
h3 { 
  font:normal 1.3em Gara;
  letter-spacing:0.1em;
  text-align:center;
  margin-top:0.5em;
  margin-bottom:0.5em;
  border-bottom:1px solid black;
  padding-bottom:1em; 
  text-transform:uppercase
}
 
h4 { 
  font: normal 0.9em "OS Condensed"; 
  letter-spacing:0.01em;   
}

h5 {
  border-bottom: 1px solid grey; 
  font: bold 0.85em "OS Light", sans-serif; 
  padding-bottom: 10px; 
}
h6 { 
  font-size:20px; 
  text-align:justify; 
  letter-spacing:0.1em; 
  line-height:150%; 
  font-family: "Gara"; 
}
.small { font-size:0.85em;}

p { 
  padding: 0 0.25em 0.75em 0.25em 0; 
  font: normal 0.9em "OS", sans-serif;
  line-height: 1.5em; 
  padding:0; 
  margin-bottom:1.5em;
}
  
.pound_sign, 
.decimal { 
  font-size:1.6em;
  position:relative;
  top:-8px;
  color:#444;
}

.number { color:#444;
font-size:2.4em;

}
a:link,
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #29A4BD;
}
a.a_tag {
    font: normal 1em "OS", sans-serif; 
  border-radius: 10px;
  background-color: lightgrey;
  color: white;
  display: inline-block;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px;
}
a.a_tag:hover {
  background-color: #000;
}

/* FORMS
===================================== */  
form { display:inline; }
input { 
  display:inline;
  outline:none;
  border:1px solid darkgrey; 
  font: normal 1.2em "OS";
  padding:0.25em; 
} 
  input:focus, input:hover { background-color: lightgrey;}

/* LAYOUT
==================================== */
#contact_form { display:none; }
#background_container { background-image:url('/gfx/backgrounds/grey_header.png'); }

  #inner_page_container { 
    background-color:#fff; 
    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
    margin:auto; 
    width:97%;
    margin-top:66px;
  }  
   
    #header_wrapper {
      text-align:center;
      height:65px;
      z-index:80;
      background-color:#fff; 
      border-bottom:1px solid #000;
      position:fixed; 
      width:100%;
      top:0;
      left:0;
    }
    
    #left_menu {
      display:none;
      position:fixed;
      top:0;
      right:0;
      z-index:90;
      height:100%;
      width:33%;
      background-color:white;
      border-left:1px solid black;
    }
      #logo { 
        display:block;
        float:left;
        margin-left:1em;
        padding:0.25em; 
        width:195px;
      }
      
      #browse {
        display:inline-block;
        font: normal 1.4em 'OS Light';
        margin-top:6px;
        height:50px;
        line-height:50px;
        border-left:1px solid black;
        padding-left:10px;
      }     
        
        #browse img {
          margin:0;
          padding:0;
          width:40px;
          vertical-align:middle
        }
        #home_icon {
          display: block;
          float: right;
          margin-top: 14px;
          margin-right: 5px;
          width: 32px;
        }
      #dreams_slogan { 
        margin-top:16px;
        margin-right:30px;
        float:right;
        display:block;
        width:175px;
      }
    
    #mainmenulines {
      opacity:0.5;
      display:block;
      float:right;
      width:30px;
      margin-top:22px;
      margin-right:10px;
      cursor:pointer;
    }
    #mainmenulines:hover { opacity:1; }
          
    #menu_lines { display:none }
    
  /* Netbook
  ============================================================================================================
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================ */
  
  @media all and (min-width: 801px) and (max-width:1025px) {
    #inner_page_container { 
      width:100%;
      border:0;
      margin:0;
    }
    
     #logo {
      margin:0;
      width:170px;
      padding:5px;
    }
    #mainmenulines { 
      margin-right:20px;
      margin-top:20px;
   }
    
    #header_wrapper { height:60px; } 
    
    #browse {
        font-size: 1.7em;
        margin-top:10px;
        height:37px;
        line-height:30px;
      }     
        #browse img { width:40px; }
      #dreams_slogan { 
        margin-top:15px;
        margin-right:15px;
        width:155px;
      }
    
  }

  /* Phablet 
   ============================================================================
   ============================================================================
   ============================================================================
   ============================================================================
   ============================================================================*/
  @media all and (min-width: 501px) and (max-width: 800px) {
    
    
        #home_icon { width:25px;margin-top:8px; }
    #header_wrapper { height:40px;  } 
  
    #inner_page_container { 
      width:100%;
      border:0;
      margin:0;
      padding:0;
    }
    #logo {
      margin:0;
      width:100px;
      padding:5px;
    }
    #mainmenulines { 
      margin-right:10px;
      margin-top:10px;
      }
    #menu_lines {
      display:block;
      padding-top:5px;
    }
    
    #browse {
      margin-top:2px;
      height:35px;
      line-height:36px;
    }     
        #browse img { width:30px; }
        
      #dreams_slogan { 
        margin-top:10px;
        margin-right:10px;
        width:120px;
      }
}  

 /* Smartphone 
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================
 ============================================================================================================*/
@media all and (min-width: 220px) and (max-width: 500px) {

        #home_icon { width:20px;margin-top:6px; }
  #header_wrapper { height:33px; }
    #logo { 
      display:block;
      width:92px;
      padding:2px;
      padding-left:4px;
      margin:0 auto;
    } 
    
    
    .welcome_place_card_container { float:left;} 
	
	.right_slide_col { margin-left:55%;	}
	
  .welcome_slide_container {
	  width:55%;
	  float:left;
  }
	.welcome_place_card_container img {
	  position:relative;
		display:block;
		width:100%;
		z-index:6
	}
    
    #dreams_slogan { display:none; }
    
     #browse {
        font-size: 1.2em;
        margin-top:2px;
        height:28px;
        line-height:28px;        
      }     
        #browse img { width:20px; }
        
    #mainmenulines {
      width:25px;
      margin-top:8px;
      margin-right:5px;
    }
    #inner_page_container { 
      width:100%;
      border:0;
    }

    .left_column, 
    .right_column {
      margin:0;
      float:none; 
      width:100%;
    }
    #left_menu { width:50%;}
    #middle_column { padding-top:34px; }
}

/* GLOBAL CLASSES
=========================== */

#contact_click:hover { 
  cursor:pointer;
  text-decoration:underline;
}

.deselected { opacity:0.4; }

  .deselected:hover, .selected {
    opacity: 1; 
    cursor:pointer;
  }
  .hide { display:none; }
.shell { 
  background-image:url('/gfx/bullets/wiggle.svg');
  background-repeat:no-repeat; 
  background-position:center;
  background-size:24px 17px;
  height:17px;
  padding-top:1em;
  padding-bottom:1em;
}

.ornamental_line { 
  background-image:url('/gfx/ornamentalline.png');
  background-repeat:no-repeat; 
  background-position:center;
  background-size:179px 5px;
  height:5px;
  padding-top:0.5em;
}
.spinner { 
  text-align:center;
  display:none;
}

.grey_button {
  text-align:center;
  margin:0 auto;    
  width:70%;
  padding:1em;
  border-top-left-radius:30px;
  border-bottom-right-radius:30px;
  text-align:center;
  font: normal 1.6em "OS";
  margin-bottom:0.5em; 
  color:white;
  background-color:#AAA;
  cursor:pointer;
}
  .grey_button:hover { background-color:#000; }
  
 #loading_main_page_spinner {
   margin:0 auto;
   padding-top:25vh;
   text-align:center;
   height:80vh;
 }
 
 .nocolor { background-color:none;}