/* YAHOO RESET =========================================== */
  html {color:#000;background:#FFF;}
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
  fieldset,img {border:0;}
  address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
  li{list-style:none;}
  caption,th{text-align:left;}
  h1,h2,h3,h4,h5,h6{font: normal 100%/2 Georgia, serif; letter-spacing:-0.05em; margin: 0.3em 0 0.3em; }
  q:before,q:after{content:'';}
  abbr,acronym{border:0;font-variant:normal;}
  sup{vertical-align:text-top;}
  sub{vertical-align:text-bottom;}
  input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
  input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

/* YAHOO FONTS =========================================== */
  body { font:13px/1.5 "Arial","Helvetica",sans-serif;*font-size:small;*font:x-small;color:#636667; }
  select, input, button, textarea { font:99% arial,helvetica,clean,sans-serif; }
  table { font-size:inherit;font:100%;width:100%; }
  pre, code, kbd, samp, tt { font-family:monospace;*font-size:108%;line-height:100%; }
  
/* Typography
==================================== */
@font-face { font-family:"Gara"; src: url('/f/GARA.eot?') format('eot'), url('/f/GARA.woff') format('woff'); }
@font-face { font-family:"TP"; src: url('/f/t.eot?') format('eot'), url('/f/t.woff') format('woff'); }
@font-face { font-family:"GaraI"; src: url('/f/GARAIT.eot?') format('eot'), url('/f/GARAIT.woff') format('woff'); }
@font-face { font-family:"OS"; src: url('/f/OSReg.eot?') format('eot'), url('/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS Light"; src: url('/f/OSL.eot?') format('eot'), url('/f/OSL.woff') format('woff'); }
@font-face { font-family:"OS Light Italic"; src: url('/f/OSLI.eot?') format('eot'), url('/f/OSLI.woff') format('woff'); }
@font-face { font-family:"OS Condensed"; src: url('/f/OSCB.eot?') format('eot'), url('/f/OSCB.woff') format('woff'); }

h1 { text-align:center;  font-family: TP; padding:0;margin:0;}
.theme_name { color:black;text-align:center; font-size: 4em; line-height:0.5em;letter-spacing:0.15em;}
.product_name { color:black; font-size:2.5em;  text-align:left; letter-spacing:0.2em;}

h3 { color:#690172; font-weight:bold; margin-bottom: 1em; font-size:1.5em; }
h6 { font-size:20px; text-align:justify; letter-spacing:0.1em; line-height:150%; font-family: "Gara"; color:black; }
.small { font-size:0.85em;}

h5 { font: bold 0.85em "OS Light", sans-serif; padding-bottom: 10px; border-bottom: 1px solid grey; }
p.casamiento { padding: 0 0.25em 0.75em 0.25em 0; font: normal 0.9em "OS", serif;line-height: 1.5em; padding:0; margin-bottom:1.5em;}
.number {  font-size:2.4em;  }
.decimal {  font-size:1.6em; position:relative;top:-8px; }

a:link, a:visited { text-decoration:none;color: #000; }
 a:hover { text-decoration:underline;}
a:active { color: #29A4BD; }
    
/* COLOURS
================================== */
.colour_shown { margin-left:20px; padding-top:10px; text-align:left; }
.colour_container { clear:both; margin:5px; margin-left:20px; }
.swatch { width:20px;height:10px;border:1px solid grey;float:left;margin:5px; border-radius:4px;}

/* cart page
=================================== */
table td { text-align:center; }
.cart_box { border:1px solid transparent; width:90%; padding:0.5em;margin-bottom:1em; }

.casamiento_colour { border-radius:5px;width:20px;height:10px;margin:auto;border:1px solid grey; }
#select_monogram:hover { border:2px dashed black; color:black }
.cart_box:hover { border:1px solid grey; }

/* FURNITURE
==================================== */
#page_container_casamiento { text-align:center; background-image:url('http://www.casamiento.co.uk/gfx/backgrounds/grey_header.png'); }
#inner_page_container_casamiento { text-align:left;margin:auto; border-left:1px dotted #000; border-right: 1px dotted #000; background-color:#fff; width:93%;}

  #top_container { z-index:5;border-bottom:1px dashed #000;}
    #logo {  margin-left:35px; float:left;}
    .navbar {
        height:30px;
        padding-top:10px;
        float:left;   
        background-color:white;
        z-index:5;
        text-align:center;
        width:24.5%;
        border-right:1px dotted grey;
        border-bottom: 1px dotted grey; 
    }

    .navbar img.dreams_on_paper { position:relative; top:-7px; }
  #page_container {  margin: 0 auto; background-color: white;  border-left: 1px dotted #939598; border-right: 1px dotted #939598;}

  #footer { margin: 0 auto; clear:both; padding-top:20px; height:75px; border-left: 1px dotted #939598; border-right: 1px dotted #939598; border-top: 1px solid #939598;}
  
    .footer_seperator {  text-align:center; padding-top:1em;  float:left;  width:20%; }
    .collection { width:40%; float:left; text-align:center; }
    
    .img_100 { width:100% }
    .center { text-align:center }

/* FORMS
===================================== */  
form { display:inline; }
input { padding:0; margin:0; border: 1px solid grey; font-size:1.2em;margin-bottom:0.25em; padding:0.25em;}
input:focus { background-color: lightgrey; border:1px solid black;  outline:none;}

#buy { width:63px; height:53px; z-index:100;  background-image:url('/gfx/buy.png'); position:fixed; top:50%;right:7%;}
#buy:hover { background-position: 0 -53px; }

/* PRODUCT PAGE
======================================================================================= */
.b1 { clear:both; }
.spec { display:inline-block; }
.spec img { width:100%; }
.weight { margin:0.5em 0 0.2em;width:2em;}
    #product_page_genesis {margin auto; border-bottom:1px solid grey; text-align:center; padding-top:10px;}
    #product_section0 { text-align:center; width:25%;float:left;}
        #product_section0 #thumbs img { padding:5px; border: 1px solid white; width:65%;} 
      
    
    #product_section1 { text-align:left;  width:74%;float:left;}
 .product_pagination li { display:block;float:left;border:1px solid transparent; }
 .product_pagination li img { padding:0.5em; }
.product_pagination li:hover { border:1px solid black; }
.name_place_icon { width:130px; margin:auto; }
.spc { padding:0.5em;border-bottom:1px dotted grey;   }
.spc { border-right:1px dotted grey; }
.spc { border-left:1px dotted grey; }
.spc h1 {font: normal 0.9em "OS Condensed"; color:#000; margin:0;margin-bottom:0.5em; text-align:left}
.spc p {color:black;font-family: "OS"; font-size:1em; padding:0; margin:0em; line-height:1em; }

/* WELCOME PAGE 
============================================== */

#product_type { clear:both; width:25%; text-align:center; float:left; padding-top:20px; }
#welcome_logo { width:75%; padding-top:10px; }

.pagination { background:white; width:110px; height:20px; margin-top:6px; padding-left:7px; padding-top:8px; position:relative; top:-840px; left:800px; z-index:100; }
 
     ul.slidesjs-pagination { border-radius:8px;padding:7px;background-color:white;position:absolute; left:150px; top:160px; z-index:100;}
    .slidesjs-pagination li { float:left; margin:0 5px; }
        
       .slidesjs-pagination li a {
            display:block;     
            width:10px;
            height:0;
        	padding-top:10px;
        	background-image:url('/gfx/pagination.png');
        	background-position:0 0;
        	float:left;
        	overflow:hidden;
        }
        
        .slidesjs-pagination li a.active {
        	background-position:0 -10px;
        }