.square { cursor: pointer;}    
.dizzycp-static_container { 
  border:1px solid transparent; 
  border-bottom:0;
  background-color:white;
}
.dizzycp-swatch_container { 
  text-align:center;
}
.dizzycp-big_colour_square_frame { 
  cursor:pointer;
  display:inline-block;
  border:1px solid lightgrey;
  width:40px;
  height:40px;
  padding:2px; 
  border-radius:25px;
}
.dizzycp-big_colour_square_swatch {
  width:36px; 
  height:36px;
  margin:2px; 
  border-radius:20px;
}
.dizzycp-text_label_for_colour { 
  color:black;
  padding-top:0.25em;
  padding-bottom:0.25em;
  font:normal 1.2em 'OS';
  text-transform:uppercase;
  letter-spacing:0.05em;
}

.dizzycp-container_to_fade_in {
  width:100%;
  background-color:white;
  display:none; 
  position:absolute; 
  border:1px solid transparent;
  border-top:0;
  z-index:1;
}

.dizzycp-selected { border: 1px solid black;}
.dizzycp-container_selected { border-color:black;border-style:dotted}

.dizzycp-right_arrow, .dizzycp-left_arrow {
  font-size:30px;
  float:left; 
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}
.dizzycp-external_wrapper {
  margin:0 auto;
  overflow:hidden;
}
.dizzycp-left_arrow { margin-left:50px;}

.dizzycp-right_arrow { margin-right:50px;}
.dizzycp-internal_wrapper{
  overflow-y: hidden;
  overflow-x: scroll
}
.square { 
  float:left;
}
.dizzycp-scrollable_colours {
  height:100px;
  position:relative;
}
  display:inline-block;
  border:1px solid lightgrey;
  width:40px;
  height:40px;
  padding:2px; 
  border-radius:25px;
}
.dizzycp-big_colour_square_swatch {
  width:36px; 
  height:36px;
  margin:2px; 
  border-radius:20px;
}
.dizzycp-text_label_for_colour { 
  color:black;
  padding-top:0.25em;
  padding-bottom:0.25em;
  font:normal 1.2em 'OS';
  text-transform:uppercase;
  letter-spacing:0.05em;
}

.dizzycp-container_to_fade_in {
  width:100%;
  background-color:white;
  display:none; 
  position:absolute; 
  border:1px solid transparent;
  border-top:0;
  z-index:1;
}

.dizzycp-selected { border: 1px solid black;}
.dizzycp-container_selected { border-color:black;border-style:dotted}