.place_card_view {
  width:100%;
  float:right;
  position:relative;
  margin:0 auto;
}
  
  .font_size_adjust_buttons, .font_baseline_adjust_buttons { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    bottom:14%;
    z-index:9999;    
    position:absolute;
    width:7%;    
    text-align:center;
  }
    .font_baseline_adjust_buttons {
      top:14%;   
    }
    
    .place_card_view:nth-child(odd) .font_size_adjust_buttons, 
    .place_card_view:nth-child(odd) .font_baseline_adjust_buttons{
     left:1%;
    }
    
    .place_card_view:nth-child(even) .font_size_adjust_buttons, 
    .place_card_view:nth-child(even) .font_baseline_adjust_buttons {
     right:2%;
    }

      .button_wrapper {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 100%;
      }
        .button_inside { 
          text-align:center;
          border:1px solid black;
          border-top-left-radius: 10px;
          border-bottom-right-radius:10px;
          width:100%;
          height:100%;
          position:absolute;
          z-index:1000;
        }
        
  .place_card_wrapper {
    position: relative;
    width: 95%;
    float:right;
    height: 0;
    padding-bottom: 70.714285714285714285714285714286%;
  }
    .place_card_wrapper .place_card_image { 
      top:0;
      left:0;
      width:100%;
      height:100%;
      position:absolute;
      z-index:1000;
    }
      .place_card_background_wrapper {
        position:absolute;
        width:100%;
        height:100%;
        z-index:999;
      }
      
    .guest_wrapper {
      width:100%;
      position:absolute;
      height:100%;
      z-index:1001
    }
    .font_spinner { 
    
        background: url('/gfx/spinner.gif') no-repeat center; 
    }
      .guest_wrapper  input {
        padding:0;
        margin:0;
        border:0;
        z-index:300;
        position:absolute;
        text-align:center;
        background-color:transparent;
        display:block;
        color:#000;
        width:100%;
        font-size:180%;
        height:50%;
        line-height:100%;
        font-family:"Adobe Caslon Pro";
      }  
      
/* Smartphone */
@media all and (min-width: 320px) and (max-width: 500px) {  
/* ----------------------------------------------------------------------------- */    
    .button_inside { 
      border-top-left-radius:7px;      
      border-bottom-right-radius:7px;
    }
 
}    
    
