.place_card_view {
  width:100%;
  float:right;
  position:relative;
  margin:0 auto;
  background-color:white; /* stop body background image seeping through */
}
  
  .font_size_adjust_buttons, .font_baseline_adjust_buttons, .delete_button { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    bottom:14%;
    z-index:9999;    
    position:absolute;
    width:7%;    
    text-align:center;
  }
    .font_baseline_adjust_buttons {
      top:14%;   
    }
    
    .delete_button {
        top:45%;
    }
    
    .place_card_view:nth-child(odd) .font_size_adjust_buttons, 
    .place_card_view:nth-child(odd) .font_baseline_adjust_buttons,
    .place_card_view:nth-child(odd) .delete_button {
     left:1%;
    }
    
    .place_card_view:nth-child(even) .font_size_adjust_buttons, 
    .place_card_view:nth-child(even) .font_baseline_adjust_buttons,
    .place_card_view:nth-child(even) .delete_button {
     right:2%;
    }

      .button_wrapper {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 100%;
      }
        .button_inside { 
          text-align:center;
          border:1px solid black;
          border-top-left-radius: 10px;
          border-bottom-right-radius:10px;
          width:100%;
          height:100%;
          position:absolute;
          z-index:1000;
        }
        .place_card_parent {
            width: 95%; 
            position: relative;
    float:right;
        }
        
        .place_card_view:nth-child(even) .place_card_parent {
     float:left;
    }
  .place_card_wrapper {

    height: 0;
    padding-bottom: 70.714285714285714285714285714286%;
  }
    .font_spinner {  
      height:50%;
      top:50%;
      display:none;
      width:100%;
      background: url('/gfx/spinner.gif') no-repeat center center; 
      position:absolute;
      z-index:1000000000000000000000000000000000000000;     
    }
    
    .place_card_wrapper .place_card_image { 
      top:0;
      left:0;
      display:block;
      width:100%;
      height:100%;
      position:absolute;
      z-index:1000;
    }
      .place_card_background_wrapper {
        position:absolute;
        width:100%;
        height:100%;
        z-index:999;
      }
      
    .guest_wrapper {
      width:100%;
      position:absolute;
      height:100%;
      z-index:1000;
    }
    
      .guest_wrapper  input {
        padding:0;
        margin:0;
        border:0;
        z-index:300;
        position:absolute;
        text-align:center;
        background-color:transparent;
        display:block;
        width:100%;
        height:50%;
        line-height:100%;
      }  
      
      .guest_wrapper input::-ms-clear { /* Remove massive X from IE input field */
        width : 0;
        height: 0;
       }
              
/* Smartphone */
@media all and (min-width: 320px) and (max-width: 500px) {  
/* ----------------------------------------------------------------------------- */    
    .button_inside { 
      border-top-left-radius:7px;      
      border-bottom-right-radius:7px;
    }
 
}    
    
