@page {
  margin:0;
  size:A4;
  padding:0;
 }
 
#printsvg { 
  width:210mm;
  display:block;
}

  #printsvg #container { 
    margin:0 auto;
    position:relative;
  }  

  #printsvg #container.up3, #printsvg #container.up8 {
    width:210mm;
  }

  #printsvg #container.up4 {
    width:297mm;
  }

    #printsvg .print_place_card_view {
      margin:0 auto;
      position:relative;
      float:left;
    }		
     #printsvg .up8 .print_place_card_view {
          float:left;
        }
      #printsvg .up3 .print_place_card_view { 
          float:none;
        }  
        
    #printsvg .place_card_image { 
      display:block;
      width:100%;
      height:100%
    }
    #printsvg .guest {
      position:absolute;
      z-index:1000;
      text-align:center;
    }		
    
    /* Grouping 
    /////////////////////////// */
    
 #printsvg .group, 
 #printsvg .group_landscape { 
    margin:0 auto;		
    width:210mm;
    page-break-before:always;
  }
 #printsvg .group {
    height:286.99mm;
  }
 #printsvg .group_landscape {
    padding-top:5mm;
    height:180mm;		
  }
    
 #printsvg .cas_print_logo {
      display:block;
      margin-top:10mm;
      padding:1mm;
      border:1px solid black;
      width:35mm;
      clear:both;
      margin:0 auto;
  }
  #printsvg .up8 .cas_print_logo {
      display:none;
  }
   #printsvg .svg_left_crop {
      top:0;
      left:0;
      display:block;
      padding:0;
      margin:0;
      width:100%;
      height:100%;
      position:absolute;
      z-index:10010;    
    }
    
/* iPad
//////////////////////////////// */

#printsvg.ipad #four, 
#printsvg.ipad #eight { display:none; }

#printsvg.ipad .group {
  width:126mm;
  height:280mm;
}

@page {
  margin:0;
  size:A4;
  padding:0;
}

/* Print
//////////////////////////////// */
@media print {
 
  #top_of_page, 
  #control_panel { display:none; }
  
  body { background-image:none; }
  
  @page {
    margin:0;
    size:A4;
    padding:0;
  }
 
}