#printsvg { 
  width:210mm;
  margin:0 auto; /* center the root parent container */
} 

  #printsvg .print_place_card_view {
    margin:0 auto; /* center individual place cards, most useful for portrait 3 per page */
    position:relative; 
  }		

/* INDIVIDUAL PLACE CARDS */ 
/* Make sure each individual place card floats up against its predecessor
   so they form a grid--only for 4 and 8 per page, 3 per page must stack 
   one above the other so no float is required */
  #printsvg.up8 .print_place_card_view,
  #printsvg.up4 .print_place_card_view {
    float:left;
  }
      
  #printsvg .place_card_image { 
    display:block;
    width:100%;
    height:100%
  }
  #printsvg .guest {
    position:absolute;
    z-index:1000;
    text-align:center;
  }		  
  
  #printsvg .crop_marks_overlay {
    top:0;
    display:none; /* Default is to hide crop marks */
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    z-index:10010;    
  }
  
    /* Show crop marks */
    #printsvg.show_crop_marks .crop_marks_overlay { display:block; }
  
/* Grouping 
///////////////////////////////////////////////////////////////// */

  #printsvg.up4 .group, 
  #printsvg.up3 .group { 
    padding-top:10mm;
  }
    
  #printsvg .cas_print_logo {
    display:block;
    padding:1mm;
    border:1px solid black;
    width:35mm;
    clear:both;
    margin:0 auto;
    margin-top:5mm;
  }
    
    #printsvg.up8 .cas_print_logo { display:none; }
  
/* ipad
///////////////////////////////////////////////////////////// */

 #printsvg .group { page-break-after:always;}
 body.ipad .group { page-break-before:always; }
 

/* Print
//////////////////////////////// */
  @media print {
  
    body { background-image:none; }
    
    #printsvg { display:block; }
    
    #background_container, #ui_print_alert { display:none; }  
  }
  @page{
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;
margin: 0;
size: A4 portrait;
}