#product_page_genesis {margin auto; border-bottom:1px solid grey; text-align:center; padding-top:10px;}
#product_section0 { text-align:center;margin-left:749px; }

#product_section1 { text-align:left; clear:both; width:750px; padding:0;margin:0;float:left;}

#slide1, #slide3, #slide5 {  float:left; }
#slide2, #slide4, #slide6   { float:right; }
#slide4 { width: 374px; height:239px;}
#slide5 h6 { width:95%;margin:0 auto;}
.slide_image { width:374px;height:239px;position:absolute; margin-right:1px; margin-bottom:1px; }

    .slide_background_container { width:374px; height:239px; }
.spec { display:inline-block; }
.spec img { width:100%; }

.name_place_icon { width:130px; margin:auto; }

.spc { border-bottom:1px dotted grey; padding-top:0; border-left:1px dotted grey; }
.spc h1 { font: normal 0.9em "OS Condensed"; color:#000; margin:0;margin-bottom:0.5em; text-align:left;padding:0.5em;letter-spacing:0.01em; }
.spc p { color:black;font-family: "OS"; font-size:1em; padding:0; margin:0em; line-height:1em; }

.step { display:none;width:50%;float:right;padding:0.25em;color:white;font:1em normal 'OS Light';border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;}

.chat-bubble { display:none; font: normal 1.1em "OS Light Italic"; margin:10px auto;color:black; width:100%; }

.texture {  display:inline-block;margin:0.5em;text-align:center;opacity:0.3;}
.texture img { width:3.5em; }
.texture:hover, .weight:hover  { opacity: 1;}

.weight {  margin:0.5em 0 0.2em;width:5em;opacity: 0.3; margin:0 auto; margin-bottom:1em; }
.weight_line { width:100px; display:inline-block;border-top:3px solid black; }

.selected {opacity:1; }
   
#colour_row  td.label_container { width:50%;}
#buy {  font: normal 1.4em "OS Light"; border-radius:5px;width:125px; height:50px; z-index:100; background-color:grey;color:white;}
#buy:hover { background-color:black; cursor:pointer;}

.colour_index_right, .colour_index_left {  z-index:100; color:lightgrey; font:normal 6em "OS Light";}
.colour_index_left:hover, .colour_index_right:hover  { cursor:pointer; color:black; }

.big_colour_square_frame {border:1px solid lightgrey;padding-left:5px;padding-top:5px;width:35px;height:35px;margin:0; }

  .big_colour_square_frame:hover { border:1px dotted black;}
  .big_colour_square { width:30px;height:30px; cursor:pointer;}
  
  .text_label_for_colour { text-align:left;font:normal 1.2em "OS";padding:0; margin-top:5px; color:#000}

.colour_alert_box { position:absolute;width:250px;height:250px;border:1px dotted black;background-color:white; display:none;z-index:32;}
.colour_selector_box { text-align:center;margin:0;padding:0.25em; }

.small_solid_square_frame { opacity:0.8;text-align:center;display:inline-block;padding:3px;border:1px solid lightgrey;margin-left:5px;margin-right:5px;margin-top:6px;}
.small_solid_square_frame:hover { opacity:1; border:1px dotted black; cursor:pointer;}

.small_solid_colour_square { margin-bottom:0;padding-bottom:0;margin:0 auto;width:18px;height:18px;}

.colour_index_right, .colour_index_left {  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index:100; color:lightgrey; font:normal 6em "OS Light";}
  
  .colour_index_right, .colour_index_left {  }
  .colour_index_left:hover, .colour_index_right:hover  { cursor:pointer; color:black; }
/* COLOURS */
.a_colour { opacity:0.8;text-align:center;display:inline-block;padding:3px;border:1px solid lightgrey;margin-left:3px;margin-right:3px;margin-top:6px;}
.a_colour:hover { opacity:1; border:1px dotted black; cursor:pointer;}

.palette { display:none; position:relative; border-top:1px solid black;}
.palette_6 { display:block;}

.color_square { width:30px;height:30px; cursor:pointer;}
.selectable:hover { cursor:pointer }

.color_label { font:normal 1.2em "OS";padding:0; margin-top:5px; color:#000}
.colour_change{ display:inline-block;border:1px solid lightgrey;padding-left:5px;padding-top:5px;width:35px;height:35px;margin:0; }
.colour_change:hover { border:1px dotted black;}


input { outline:none;border:1px solid darkgrey; font: normal 1.2em "OS";padding:0.25em; width:90%;}

#total_price { height:125px;border:1px dotted black;border-left:0; box-shadow:5px 5px 0 0 lightgrey;width:325px;text-align:center;background-color:white;z-index:500;}

#qty_container { width:50%;float:left;}
#minus_qty, #plus_qty { display:inline-block;padding:5px;padding-left:10px;padding-right:10px;border:1px solid lightgrey;}

#minus_qty:hover, #plus_qty:hover { border:1px solid black; color:black; cursor:pointer;}
#qty { font-size:2em;font: normal 2em 'OS Light';color:black; }


  @media all and (max-width: 1000px) and (min-width: 768px) {
   #inner_page_container_casamiento { width:97%;}
  }
  
  @media all and (max-width: 999px) and (min-width: 601px) {
    #inner_page_container_casamiento { width:97%;}
    .chat-bubble { left:3em;}
    #total_price { display:none;}
    #product_section1 { width:374px; }
    #product_section0 { margin-left:374px;}
    #slide1, #slide2, #slide3, #slide4, #slide5, #slide6 { float:none;clear:both;}
    #slide1 img, #slide2 img, #slide3 img, #slide4 img, #slide5 img, #slide6 img  { float:none;clear:both;}
    #slide4 { width: inherit; height:auto;}
    #slide5 .shell { display:none;}
    
    #footer .genesis_collection { width:35%; }
    .footer_seperator { width:10%;}
     #footer .castello_collection { width:55%; }
  }

  @media all and (max-width: 600px) and (min-width: 320px) {
    #inner_page_container_casamiento { width:100%;margin:0;padding:0}
    #page_container { margin:0;border:0;padding:0;}
    #page_container_casamiento { border:0;padding:0;margin:0;}
   #total_price { display:none;}
    #product_section1 { float:none; width:100%;clear:both; }
    #product_section0 { float:none; width:100%; clear:both;margin:0;}
    #slide1, #slide2, #slide3, #slide4, #slide5, #slide6 { margin:0 auto;float:none;clear:both;}
    .slide_image { width:320px; height:205px;margin:0 auto;float:none;clear:both; }
    #footer .genesis_collection, #footer .castello_collection { float:none;width:100%; }
    .footer_seperator { float:none;width:100%;}
    .slide_background { width:320px; height:205px; }
.slide_background_container { width:320px; height:205px; }
    #slide4 { width: inherit; height:auto;}
    #slide5 .shell { display:none;}
    #slide5 h6 { width:95%; padding:0;margin:0 auto;}
  }