/* LAYOUT 
======================================= */
@media all and (min-width: 320px) and (max-width: 500px) {
  #logo { 
    display:block;
    width:200px;
    margin:0 auto;
  }
  #slogan_container { 
    clear:both;
    border:0;
    border-bottom:1px solid black;
    width:100%;
    padding-top:0;
    text-align:center;
  }
  
  .nav_link { display:none; }
  
  #inner_page_container { width:100%;}
  
  .left_column, .right_column { 
    margin:0;
    float:none; 
    clear:both;
    width:100%;
  }
    .chat-bubble { display:block;}

    #footer .genesis_collection, #footer .castello_collection, .footer_seperator { float:none;width:100%; }
}

/* WELCOME
============================= */
@media all and (min-width: 320px) and (max-width: 500px) {

  .left_welcome_column, .right_welcome_column { 
    clear:both;
    float:none;
    width:100%;
  }
  
}
  
/* PRODUCT
================================ */

  /* Smartphone */
@media all and (min-width: 320px) and (max-width: 500px) {

    #slide1, #slide2, #slide3, #slide4, #slide5, #slide6, #product_name_container { 
      width:100%; 
      margin:0 auto;
      float:none;
      clear:both;
    }
    .slide { width:100%;}
    #description_container { float:none;width:90%;margin:0 auto;}
    
    #slide5 .shell { display:none;}
    #slide5 h6 { width:95%; padding:0;margin:0 auto;}
    
    #second_product_type_icon { display:none;}
  }
  
  /* Phablet devices */
@media all and (min-width: 501px) and (max-width: 800px) {

  #inner_page_container { width:100%;border:0;margin:0;padding:0;}
  #page_container_casamiento { border:0; margin:0; padding:0;}
  .chat-bubble { left:3em;}
  .left_column { width:60% }
  .right_column { margin-left:60%;}
  #slide1, #slide2, #slide3, #slide4, #slide5, #slide6,#product_name_container { 
    width:100%;
    float:none;
    clear:both;
  }
  #slide1 img, #slide2 img, #slide3 img, #slide4 img, #slide5 img, #slide6 img  { 
    width:100%;
    float:none;
    clear:both;
  }
  #slide5 .shell { display:none;}
  
    .texture { 
      display:block; 
    }
}
  