.mobile, #print_ui, #print_ui #ipad_blurb, #mobile_ui_printer_icon { display:none;}

#top_of_page { position:relative; }

  #control_panel {
    width:100%;
    margin-top:-1px;
    background-color:white;
    padding-top:0.5em;
    position:fixed; 
    z-index:500;  
    opacity:0.9;
    border-bottom:1px solid black; 
    border-top:1px solid black;
  }
        
    #ui_printer_icon { 
      margin:0;
      float:left;
      width:35px;
      margin-left:10%;
      text-align:center;
    }
    
    #ui_global_font, 
    #ui_global_font_mobile {
      width:70%;
      float:right;
      text-align:center;
    }
      #ui_global_font div,  
      #ui_global_font_mobile div {    
        border:1px solid #AAA;
        opacity:0.5;
        display:inline-block;
        border-bottom-right-radius:12px;
        border-top-left-radius:12px;
        width:60px;      
        height:45px;
      }
        #ui_global_font div:hover, 
        #ui_global_font_mobile div:hover {
          opacity:1;
          cursor:pointer;
        }
      
      .global_font_increase { background: url('/gfx/font_increase.svg') no-repeat center; } 
      .global_font_decrease { background: url('/gfx/font_decrease.svg') no-repeat center; } 
      .global_baseline_up { background: url('/gfx/baseline_up.svg') no-repeat center; } 
      .global_baseline_down { background: url('/gfx/baseline_down.svg') no-repeat center; } 
      .global_font_reset { background: url('/gfx/cancel4.svg') no-repeat center; } 
    
    #ui_print_alert {
      display:none;
      padding:20px;
      width:50%;
      border:1px solid black;
      position:fixed;
      background-color:white;
      z-index:900;
      right:0;
      left:0;
      box-shadow:7px 7px 0 0 lightgrey;
      margin:auto;
      margin-top:80px;
      border-radius:15px;
      text-align:center;
    }
      .close {
        display:block;
        position:absolute;
        cursor:pointer;
        opacity: 0.4;
        top:10px;
        right:10px;
      }
        .close:hover { opacity:1; }
      
      #choose_layout,
      #crop_marks {
        border-bottom:1px solid black;
        padding-bottom:0.5em;
        margin-bottom:0.5em;
        font-family:'OS Light Italic';
        font-size:1.4em;
      }
      
      #layout_icons_wrapper {      
        text-align:center;
        font-size:1em;
        font-family:'OS Light'
      }
        .layout_icon_container {    
          border-radius:10px;
          padding:5px;
          display:inline-block;
          text-align:center;
          width:26%;
          margin-right:4%;
          font-size:1em;
          font-family:'OS Light'
        }
          .layout_icon_container.layout_selected,
          .layout_icon_container:hover {
            cursor:pointer;
            background-color:#EEE;
          }            
          
        #up_3, 
        #up_8 { 
          width:40px; 
          padding:5px; 
          display:block;
          margin:0 auto;         
        }
        #up_4 { 
          width:55px;
          padding:5px;  
        }
        
    #ui_crosshairs_icon {
      display:inline-block;      
      text-align:center;
      padding-left:10px;
      padding-right:10px;
      cursor:pointer;
      border-radius:10px;
    }
      
  .cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 100px;
  height: 50px;
}
input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
  display: block;
  border-radius:10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: black;
  font-family: "OS Light", sans-serif;
  font-size: 1.4em;
  text-align: center;
  line-height: 50px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: white;
  content: attr(data-off);  
  transition: transform 0.5s;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #EEE;
  content: attr(data-on);
  transition: transform 0.5s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  transform: rotateY(0);
}
        
#actual_cards { 
  background-color:white; /* stop body background image seeping through */
}
 
  #actual_cards .place_card_view.add_another, 
  #actual_cards .place_card_view.checkout {
    border:1px dotted grey;
    border-radius:20px;
    margin-top:20px;
    width:45%;
    padding-top:10px;
    margin-left:2%;
    margin-right:2%;
  }
    
  .place_card_view:nth-child(even) .place_card_wrapper { float:left; }

/* ipad */
#print_ui.ipad #ipad_blurb { display:block;}
#print_ui.ipad #per_page_4_container,
#print_ui.ipad #per_page_8_container {
  display:none;
}
  
/* Smartphone */
@media all and (min-width: 300px) and (max-width: 500px) {  
/* ----------------------------------------------------------------------------- */    
  .mobile { display:block; }
  .desktop, #ui_printer_icon { display:none; }
  
  #control_panel { padding-top:0; }
  #control_panel_top_row { width:100%;}
  #menu_lines {
    float:right;
    z-index:99999999999999999999999999999999;
  
    padding-top:8px;
    width:5%;
    padding-right:2%;
    cursor:pointer;
  }
  
  #mobile_print_logo {
    padding-top:2px;
    padding-left:1%;
    padding-bottom:2px;
    width:24%;
    float:left;
    z-index:999999999999999999999999999;
  }
  
  #mobile_ui_printer_icon { 
    display:block;
    padding-top:2px;
    width:7%;
    padding-left:3%;
    margin-top:2px;
    float:left;
  }

  #ui_global_font_mobile {
    padding:0;    
    padding-top:3px;
    width:58%;
  }

    #ui_global_font_mobile div {
      width:15%;
      height:25px;
      border-top-left-radius:8px;      
      border-bottom-right-radius:8px;
      background-size:50%;
    }
        
  #ui_logo_container,   
  #ui_printer_icon,
  #layout_icons_wrapper { 
    float:none; 
    clear:both;
    width:100%;
  } 
  
  #ui_print_alert {
    width:92vw;
    height:100%;
    border-radius:0;
    border:0;
    padding:2vw;
    border-bottom:1px solid black;
    margin-top:0;
  } 
    #choose_layout { padding-top:2em; }
  
  #actual_cards { padding-top:30px; }
    #actual_cards .place_card_view { width:100%; }
     
    #actual_cards .place_card_view:nth-child(even) .place_card_parent { float:right; }
  .place_card_view:nth-child(even) .font_size_adjust_buttons, 
  .place_card_view:nth-child(even) .font_baseline_adjust_buttons,
  .place_card_view:nth-child(even) .delete_button {
    left:1%;
  }
  
  #actual_cards .place_card_view.add_another, 
  #actual_cards .place_card_view.checkout {
    margin:0 auto;
    margin-bottom:10px;
    clear:both;
    float:none;
    width:90%;
  }
  
}
  
/* Phablet */
@media all and (min-width: 501px) and (max-width: 800px) {  
/* ----------------------------------------------------------------------------- */    
  #control_panel { padding-top:0.2em; }
  #menu_lines { display:none; } 
  #ui_print_alert { width:70%; }
  
    #ui_global_font div {
      width:45px;
      height:25px;
      line-height:25px;
      background-size: 18px 18px;
    }
     
    #actual_cards .place_card_view { width:100%; }
    
    #actual_cards .place_card_view:nth-child(even) .place_card_parent { float:right; }
  .place_card_view:nth-child(even) .font_size_adjust_buttons, 
  .place_card_view:nth-child(even) .font_baseline_adjust_buttons,
  .place_card_view:nth-child(even) .delete_button {
    left:1%;
  }
  
  #actual_cards .place_card_view.add_another, 
  #actual_cards .place_card_view.checkout {
    margin:0 auto;
    margin-bottom:10px;
    clear:both;
    float:none;
    width:90%;
  }
}

/* HIDDEN DIVS FOR PRINT
==================================== */  
#printsvg { display:none; }