	@font-face { font-family:"GaraI"; src: url('/f/garamonditalic.eot?') format('eot'), url('/f/garamonditalic.woff') format('woff'); }
	@font-face { font-family:"OS Light"; src: url('/f/OSL.eot?') format('eot'), url('/f/OSL.woff') format('woff'); }

#slide_separator {
	border-top:3px double grey;
	position:relative;
	top:-2.55em;
	margin-bottom:2em
}

#description_column {
	margin-left:60%;
	border-left:1px dotted black;
}
	#welcome_column h5 { 
	  font: normal 4.4em/1.2em 'GaraI', serif;
    letter-spacing:-0.01em;
	  margin-top:0.5em;	
	  text-align:center;
	  color:#000;
	  margin-left:0.25em;
	  margin-right:0.25em;
	}
		
	#welcome_column h6 {
		font: normal 3em/1.2em 'GaraI', serif;
		text-align:center;
		letter-spacing:0.0005em;
		margin-left:0.5em;
		margin-right:0.5em;
	}
	
	p { 
	  font: normal 1.4em/1.4em 'Josefin Slab', sans-serif;
		margin-right:1em;
		margin-left:1em;
		padding-bottom:20px;
	}

		p.bullet_text {
			padding-bottom:0.4em;
			font-size:1.8em;
			font-style:italic;
			border-bottom:1px  dotted black;
			margin-bottom:0.75em;
		}
	
/* HEADER AND FOOTER
==================================== */
body {
	background-image:url('/gfx/backgrounds/grey_header.png');  
}

	#inner_page_container { 
		background-color:#fff; 
		width:97%; 
		margin:0 auto; 
		border-left: 1px dotted grey; 
		border-right: 1px dotted grey;
		background-image:url('/gfx/background_wiggle.svg');  
	}  
		#welcome_column {
			width:85%; 
			background-color:#fff;
			margin:0 auto;
			border-left:1px dotted #000;
			border-right: 1px dotted #000;
		}
#slides_column {	
	width:60%;
	float:left;
}

#footer {
  background-color:#fff; 
}
	#slides_spinner {
		display:block;
		margin:0 auto;
		margin-top:50px;
		margin-bottom:50px;
	}

	#slides_container { 
		display:none;
	}

	.slidesjs-previous, .slidesjs-next {
		color:#000;
		margin-top:-0.4em;
		font: normal 1.2em 'OS Light';
		text-transform: uppercase;
		display:inline-block;
		position:absolute;
		padding:1em;
	}
	.slidesjs-previous:before {
		content: '\00ab  '
	}
	.slidesjs-next {	
		margin-left:7em;	
	}
		.slidesjs-next:after {
			content: ' \00bb'
		}

	.slidesjs-pagination {
		margin: 10px 0 10px;
		float: right;
		list-style: none;
	}

		.slidesjs-pagination li {
			float: left;
			margin: 0 7px;
		}

		.slidesjs-pagination li a {
			display: block;
			width: 13px;
			height: 0;
			padding-top: 13px;
			background-image: url(/gfx/page_circle.png);
			background-position: 0 0;
			float: left;
			overflow: hidden;
		}

		.slidesjs-pagination li a.active,
		.slidesjs-pagination li a:hover.active {
			background-position: 0 -13px
		}

		.slidesjs-pagination li a:hover {
			background-position: 0 -26px
		}
		
  .welcome_place_card_container {
	  float:left;
  }
	
	.right_slide_col { 
	  margin-left:55%;
	}
  .welcome_slide_container {
	  width:55%;
	  float:left;
  }
	.welcome_place_card_container img {
	  position:relative;
		display:block;
		width:100%;
		z-index:6
	}
  
  .welcome_background_container {
	  position:relative;
	  width:100%;
  }
		.welcome_background {
			position:absolute;
			width:100%;
			height:100%;
			z-index:0;
		}

	.welcome_colour_frame { 
		width:37px;
		height:37px;
		margin-left:5%;
		float:left;
		border: 1px solid lightgrey;
		border-radius:25px;
		margin-top:5px;
	}
		.welcome_colour_swatch {
			width:31px; 
			height:31px;
			margin:3px; 
			border-radius:25px;
		}

	.welcome_colour_label { 
		text-transform:uppercase;
		float:left;
		font-family: 'OS Light';
		padding-top:12px;
		margin-left:7px;
		font-size:1.2em;
	}
	
	.hex {
		margin-top:6px;
		margin-left:32px;
		width:60px;
		height:50px;
		background-image:url('/gfx/hex.svg');
		background-repeat:no-repeat;
		background-size:100%;
		text-align:center;
		color:white;
		line-height:50px;
		float:left;
		font-size:2.4em;
		font-weight:700;
		font-style:italic;
		font-family:'Josefin Slab';
	}
	.how_to_bullet_container {
		margin-left:85px;
	}
.shell { 
	background-image:url('/gfx/bullets/wiggle.svg');
	background-repeat:no-repeat; 
	background-position:center;
	background-size:24px 17px;
	margin-bottom:20px;
	height:17px;
}

		#footer { 
			border-left: 1px dotted #939598;      
			border-top: 1px solid #939598;
			border-right: 1px dotted #939598; 
			clear:both; 
			height:60px; 
			margin: 0 auto; 
			padding-top:10px; 
		}
	
			.footer_seperator {  
				text-align:center; 
				padding-top:1em;  
				float:left;  
				width:20%; 
			}
		#footer .genesis_collection, #footer .castello_collection { 
			width:40%; 
			float:left; 
			text-align:center; 
		}
/* RESPONSIVE
==================================== */

 /* Smartphone */
/* ----------------------------------------------------------------------------- */    
@media all and (min-width: 260px) and (max-width: 500px) {
	body { 
		background-image:none;
	} 
	 #menu_lines {
			float:left;
			margin-left:15px;
			width:20px;
			padding-top:10px;
			display:block;
		}
	#browse {
		display:none;
	}
			#dreams_slogan { 
			margin-top:2px;
			margin-right:5px;
			float:right;
			display:block;
				width:110px;
			}
#slide_separator {
display:block;
	position:relative;
	top:0;
	margin:0;
}
	.hex { margin-left:5px;}
		.how_to_bullet_container {
		margin-left:50px;
	}
	#inner_page_container { 
		background-image:none;  
		width:100%;
	}
	#slides_column {
		float:none;
		width:100%;
	}
	#description_column {
		margin:0;
		
	}
		#welcome_column { width:100%; }
	 
		#welcome_column h5 {
			font-size:3.5em;
		}
		
		#header_container {
			background-color:#fff;
			z-index:20;
			height:39px;
			position:fixed;
			width:100%;
		}
			#header_wrapper {
				height:39px;
			}
			#logo { 
				width:115px;
				padding:0.2em;
				margin:0 auto;
			}
			#menu_lines { display:block;}
			
		.welcome_colour_frame { 
			width:23px;
			height:23px;
			padding:0; 
			margin-left:10px;
			border-radius:25px;
		}
		 .welcome_colour_swatch {
				width:19px; 
				height:19px;
				margin:2px; 
				border-radius:20px;
			}
			
		.welcome_colour_label { 
			padding-top:4px;
			margin-left:4px;
			font-size:1em;
		}
			#footer .genesis_collection, 
			#footer .castello_collection, 
			.footer_seperator { 
				float:none;
				width:100%; 
			}
		.slidesjs-pagination, .slidesjs-navigation {
			display:none;
		}
}

	
/* Phablet */
@media all and (min-width: 501px) and (max-width: 900px) {  
/* ----------------------------------------------------------------------------- */    
	body { 
		background-image:none;
	} 
	
	.hex { 
	  margin-top:5px;
		width:50px;
		height:50px;
		line-height:42px;
  }
	.how_to_bullet_container {
		margin-left:70px;
	}
	#inner_page_container { 
		width:100%;
	}
		#logo { 
			width:160px;
		}
		#welcome_column {
			width:96%;
		}
		#welcome_column h5 {
		   margin-left:2%;margin-right:2%;
			font-size:3.4em;
			line-height:1.4em;
		}
		#welcome_column h6 {
			font-size:2.6em;
		  margin-left:0.2em;
		  margin-right:0.2em;
		}
		.shell {
			margin-bottom:35px;
			margin-top:15px;
		}
		.slidesjs-pagination li {
			float: left;
			margin: 0 3px;
		}	
		
		.slidesjs-next {	
		margin-left:6em;	
	}

	.welcome_colour_frame { 
		width:32px;
		height:32px;
	}
		.welcome_colour_swatch {
			width:26px; 
			height:26px;
		}
	.welcome_colour_label { 
		padding-top:10px;
	margin-left:5px;
		}
}