#slide_separator {
	border-top:3px double grey;
	position:relative;
	top:-2em;
	margin-bottom:2em;
		display:block;
		padding-top:0.5em;
}
	#welcome_column {
		width:85%; 
		padding:0;
		background-color:#fff;
		margin:0 auto;
		border-left:1px dotted #000;
		border-right: 1px dotted #000;
	}

	#welcome_column h5 { 
	  font: normal 4.5em/1em 'Josefin Slab', serif;
    letter-spacing:-0.01em;
		margin:0;
		border-bottom:0;
	  text-align:center;
	  color:#555;
	}
	#box_4, #box_5, #box_6 { margin-top:3em; }
	.welcome_icon {
		padding:0;
		margin:0;
		display:block;
		top:-2em;
		position:absolute;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
	}
		
	.welcome_line {
		margin:0 auto;padding-bottom:4em;display:block;
		width:70%;
	}
	.welcome_box_container {
		text-align:center;
		border-radius:1.5em;
		background-color:#EEE;
		width:23%;
		float:left;
		margin-left:2%;
		margin-right:2%;
		padding-left:3%;
		padding-right:3%;
	}
	
		.welcome_box_container p {
			font-family:'OS Light Italic';
			font-size:1.2em;
			border-top:0;
			color:#777;
		}
	#welcome_column	.welcome_box_container h5 {
			font-size:2.5em;
			border-bottom:0;
			padding-top:1em;
		}
		#welcome_column .welcome_box_container p { margin-bottom:0.5em; }
	#loading_main_page_spinner { display:none;}
	
	#inner_page_container { background-image:url('/gfx/background_wiggle.svg'); }  
	
#slides_column {	
	width:100%;
	margin:0 auto;
}
#second_line { display:none; }
	#slides_spinner {
		display:block;
		margin:0 auto;
		margin-top:50px;
		width:10%;
		margin-bottom:50px;
	}

	#slides_container { display:none;	}
#box_4 { clear:both; }
	.slidesjs-previous, .slidesjs-next {
		color:#000;
		margin-top:-5em;
		margin-left:35%;
		font: normal 1.2em 'OS Light';
		text-transform: uppercase;
		display:inline-block;
		z-index:9999999999999999999999999999999999999;
		position:absolute;
		padding:1em;
	}
	.slidesjs-previous:before {	content: '\00ab  '}
	.slidesjs-next { margin-left:45%;	}
		.slidesjs-next:after { content: ' \00bb' }

	.slidesjs-pagination {
		position:relative;
		z-index:9999999999999999999999999999999999999;
		margin: -60px 0 10px;
		float: right;
		list-style: none;
	}

		.slidesjs-pagination li {
			float: left;
			margin: 0 4px;
		}

		.slidesjs-pagination li a {
			display: block;
			width: 13px;
			height: 0;
			padding-top: 13px;
			background-image: url(/gfx/page_circle.png);
			background-position: 0 0;
			float: left;
			overflow: hidden;
		}

		.slidesjs-pagination li a.active,
		.slidesjs-pagination li a:hover.active {
			background-position: 0 -13px;
		}

		.slidesjs-pagination li a:hover {
			background-position: 0 -26px;
		}
		
  .welcome_place_card_container { float:left;} 
	
	.right_slide_col { float:left;	width:33.3%;}
	
  .welcome_slide_container {
	  width:33.3%;
	  float:left;
  }
	.welcome_place_card_container img {
	  position:relative;
		display:block;
		width:100%;
		z-index:6
	}
  
  .welcome_background_container {
	  position:relative;
	  width:100%;
  }
		.welcome_background {
			position:absolute;
			width:100%;
			height:100%;
			z-index:0;
		}

	.welcome_colour_frame { 
		width:37px;
		height:37px;
		margin-left:5%;
		float:left;
		border: 1px solid lightgrey;
		border-radius:25px;
		margin-top:5px;
	}
		.welcome_colour_swatch {
			width:31px; 
			height:31px;
			margin:3px; 
			border-radius:25px;
		}

	.welcome_colour_label { 
		text-transform:uppercase;
		float:left;
		font: normal 1.2em 'OS Light';
		padding-top:12px;
		margin-left:7px;
	}
	
 /* Smartphone */
/* ----------------------------------------------------------------------------- */    
@media all and (min-width: 260px) and (max-width: 500px) {	 
	#inner_page_container { 
		background-image:none;  
		width:100%;
	}
	#slides_column,
	#welcome_column { 
		float:none;
		margin:0;
		padding:0;
		width:100%; 
		border:0;
	}
	#slide_separator { top:0; }
	.welcome_place_card_container { float:left;} 
	
	.right_slide_col { 	width:45%;margin:0; }
	
  .welcome_slide_container {
	  width:55%;
	  float:left;
  }
	.welcome_place_card_container img {
	  position:relative;
		display:block;
		width:100%;
		z-index:6
	}
		#welcome_column h5 {
		   margin:0;
		   padding:0;
		   padding-left:4%;
		   padding-right:4%;
		   margin-top:1em;
				font-size:3em;
			line-height:1.1em;
		}
		.welcome_line { padding-bottom:0.5em;padding-top:1em; width:100%; }
				
			.welcome_colour_frame { 
				width:23px;
				height:23px;
				padding:0; 
				margin-left:10px;
				border-radius:25px;
			}
			 .welcome_colour_swatch {
					width:19px; 
					height:19px;
					margin:2px; 
					border-radius:20px;
				}
				
			.welcome_colour_label { 
				padding-top:4px;
				margin-left:4px;
				font-size:1em;
			}
			
				.welcome_box_container {
					float:none;
					padding:0;
					margin:0;
					width:90%;
					margin:0 auto;
					margin-top:3em;
					padding:2%;
				}
				
	#welcome_column .welcome_box_container h5 { padding-top:0; margin-top:0.5em; }
	
			.slidesjs-pagination, .slidesjs-navigation { display:none; }
			#desktop_animation { display:none; }
	}
	
/* Phablet */
@media all and (min-width: 501px) and (max-width: 900px) {  
/* ----------------------------------------------------------------------------- */  


	
	#inner_page_container,
	#welcome_column { width:100%; }
	
		#welcome_column h5 {
		   margin:0;
		   padding:0;
		   padding-left:1em;
		   padding-right:1em;
				font-size:4em;
			line-height:1em;
		}
	.welcome_colour_frame { 
		width:32px;
		height:32px;
	}
		.welcome_colour_swatch {
			width:26px; 
			height:26px;
		}
	.welcome_colour_label { 
		padding-top:10px;
	  margin-left:5px;
	}
	#welcome_column .welcome_box_container h5 { padding:0; margin-top:0.5em; }
}