<!doctype HTML>
<html>
<head>
<style type="text/css"></style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>    

<script type="text/javascript">

function handleHyphens(str) {

  var pieces = str.split("-");
  if (pieces[1]) {
  pieces[1] = toTitleCase(pieces[1]);
  }
  str = pieces.join("-");
  console.log(pieces[1])
  return str;
}
function toTitleCase(str)
{
str = str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    return str 
}

_.chunk = function(array, n) {
    var chunks = [];
    var numChunks = Math.ceil(array.length / n);
    for(var i = 0; i < numChunks; i++) {
      chunks.push(array.slice(i * n, i * n + n));
    }
    return chunks;
}
</script>

<script type="text/template" id="template"><?xml version="1.0" encoding="UTF-8"?>
<svg>
  <variableSets>
    <variableSet locked="none">
      <variables>
        <variable varName="Variable0" trait="textcontent"/>
        <variable varName="Variable1" trait="textcontent"/>
        <variable varName="Variable2" trait="textcontent"/>
        <variable varName="Variable3" trait="textcontent"/>
        <variable varName="Variable4" trait="textcontent"/>
        <variable varName="Variable5" trait="textcontent"/>
        <variable varName="Variable6" trait="textcontent"/>
        <variable varName="Variable7" trait="textcontent"/>
      </variables>
      <v:sampleDataSets xmlns:v="casamiento">
      <% var counter = 0; %>
      <% var name_counter = "" %>
      <% names.forEach(function(list) { %>
      <% name_counter = 0 %>
        <v:sampleDataSet dataSetName="<%=counter %>">
        <% for(var i =0; i < 8; i++) { %>
            <% var name = list[i] %>
        <% name == undefined ? name = "" : name = name %>
          <Variable<%= name_counter %>>
            <p><%= name %></p>
          </Variable<%= name_counter %>>
          <% name_counter = name_counter + 1 %>
          <% } %>
        </v:sampleDataSet>
        <% counter = counter + 1; %>
        <% }) %>
      </v:sampleDataSets>underscore 
    </variableSet>
  </variableSets>
</svg></script>



<script type="text/template" id="template_6"><?xml version="1.0" encoding="UTF-8"?>
<svg>
  <variableSets>
    <variableSet locked="none">
      <variables>
        <variable varName="Variable0" trait="textcontent"/>
        <variable varName="Variable1" trait="textcontent"/>
        <variable varName="Variable2" trait="textcontent"/>
        <variable varName="Variable3" trait="textcontent"/>
        <variable varName="Variable4" trait="textcontent"/>
        <variable varName="Variable5" trait="textcontent"/>
      </variables>
      <v:sampleDataSets xmlns:v="casamiento">
      <% var counter = 0; %>
      <% var name_counter = "" %>
      <% names.forEach(function(list) { %>
      <% name_counter = 0 %>
        <v:sampleDataSet dataSetName="<%=counter %>">
        <% for(var i =0; i < 6; i++) { %>
            <% var name = list[i] %>
        <% name == undefined ? name = "" : name = name %>
          <Variable<%= name_counter %>>
            <p><%= name %></p>
          </Variable<%= name_counter %>>
          <% name_counter = name_counter + 1 %>
          <% } %>
        </v:sampleDataSet>
        <% counter = counter + 1; %>
        <% }) %>
      </v:sampleDataSets>underscore 
    </variableSet>
  </variableSets>
</svg></script>

<script type="text/template" id="envelopes_template"><?xml version="1.0" encoding="UTF-8"?>
<svg>
  <variableSets>
    <variableSet locked="none">
      <variables>
        <variable varName="Variable0" trait="textcontent"/>
      </variables>
      <v:sampleDataSets xmlns:v="casamiento">
      <% var counter = 0; %>
      <% var name_counter = "" %>
      <% names.forEach(function(list) { %>
      <% name_counter = 0 %>
        <v:sampleDataSet dataSetName="<%=counter %>">
        <% for(var i =0; i < 1; i++) { %>
            <% var name = list[i] %>
        <% name == undefined ? name = "" : name = name %>
          <Variable<%= name_counter %>>
            <p><%= name %></p>
          </Variable<%= name_counter %>>
          <% name_counter = name_counter + 1 %>
          <% } %>
        </v:sampleDataSet>
        <% counter = counter + 1; %>
        <% }) %>
      </v:sampleDataSets>
    </variableSet>
  </variableSets>
</svg>
</script>


<script type="text/template" id="invitations_two_template"><?xml version="1.0" encoding="UTF-8"?>
<svg>
  <variableSets>
    <variableSet locked="none">
      <variables>
        <variable varName="Variable0" trait="textcontent"/>
        <variable varName="Variable1" trait="textcontent"/>
      </variables>
      <v:sampleDataSets xmlns:v="casamiento">
      <% var counter = 0; %>
      <% var name_counter = "" %>
      <% names.forEach(function(list) { %>
      <% name_counter = 0 %>
        <v:sampleDataSet dataSetName="<%=counter %>">
        <% for(var i =0; i < 2; i++) { %>
            <% var name = list[i] %>
        <% name == undefined ? name = "" : name = name %>
          <Variable<%= name_counter %>>
            <p><%= name %></p>
          </Variable<%= name_counter %>>
          <% name_counter = name_counter + 1 %>
          <% } %>
        </v:sampleDataSet>
        <% counter = counter + 1; %>
        <% }) %>
      </v:sampleDataSets>
    </variableSet>
  </variableSets>
</svg></script>

<script type="text/template" id="invitations_template"><?xml version="1.0" encoding="UTF-8"?>
<svg>
  <variableSets>
    <variableSet locked="none">
      <variables>
        <variable varName="Variable0" trait="textcontent"/>
        <variable varName="Variable1" trait="textcontent"/>
        <variable varName="Variable2" trait="textcontent"/>
        <variable varName="Variable3" trait="textcontent"/>
      </variables>
      <v:sampleDataSets xmlns:v="casamiento">
      <% var counter = 0; %>
      <% var name_counter = "" %>
      <% names.forEach(function(list) { %>
      <% name_counter = 0 %>
        <v:sampleDataSet dataSetName="<%=counter %>">
        <% for(var i =0; i < 4; i++) { %>
            <% var name = list[i] %>
        <% name == undefined ? name = "" : name = name %>
          <Variable<%= name_counter %>>
            <p><%= name %></p>
          </Variable<%= name_counter %>>
          <% name_counter = name_counter + 1 %>
          <% } %>
        </v:sampleDataSet>
        <% counter = counter + 1; %>
        <% }) %>
      </v:sampleDataSets>
    </variableSet>
  </variableSets>
</svg></script>

<script type="text/template" id="table_template"><?xml version="1.0" encoding="UTF-8"?>
<svg>
  <variableSets>
    <variableSet locked="none">
      <variables>
        <variable varName="Variable0" trait="textcontent"/>
        <variable varName="Variable1" trait="textcontent"/>
        <variable varName="Variable2" trait="textcontent"/>
        <variable varName="Variable3" trait="textcontent"/>
        <variable varName="Variable4" trait="textcontent"/>
        <variable varName="Variable5" trait="textcontent"/>
        <variable varName="Variable6" trait="textcontent"/>
        <variable varName="Variable7" trait="textcontent"/>
        <variable varName="Variable8" trait="textcontent"/>
        <variable varName="Variable9" trait="textcontent"/>
        <variable varName="Variable10" trait="textcontent"/>
        <variable varName="Variable11" trait="textcontent"/>
        <variable varName="Variable12" trait="textcontent"/>
        <variable varName="Variable13" trait="textcontent"/>
        <variable varName="Variable14" trait="textcontent"/>
        <variable varName="Variable15" trait="textcontent"/>
      </variables>
      <v:sampleDataSets xmlns:v="casamiento">
      <% var counter = 0; %>
      <% var name_counter = "" %>
      <% names.forEach(function(list) { %>
      <% name_counter = 0 %>
        <v:sampleDataSet dataSetName="<%=counter %>">
        <% for(var i =0; i < 16; i++) { %>
            <% var name = list[i] %>
        <% name == undefined ? name = "" : name = name %>
          <Variable<%= name_counter %>>
            <p><%= name %></p>
          </Variable<%= name_counter %>>
          <% name_counter = name_counter + 1 %>
          <% } %>
        </v:sampleDataSet>
        <% counter = counter + 1; %>
        <% }) %>
      </v:sampleDataSets>underscore 
    </variableSet>
  </variableSets>
</svg
></script>

<script type="text/javascript">
var doNames = function() {
  var names = $('#names').val()
  names = $.trim(names);
 if(names.match(/\*/m)) {
   names = names.split("*");
names = _.map(names, function(name) {
    name = $.trim(name);
    var new_names = name.split("\n");
    var new_name = new_names[0]
    return new_name;
  })   
 } else {
  names = names.split("\n");
  }
  names = _.compact(names)
  names = names.sort();
  
  for (i = 0; i < names.length; i++) {
      names[i] = toTitleCase(names[i])
      
    names[i] = handleHyphens(names[i])
      names[i] = names[i].trim();
      
    names[i] = names[i].replace(" and ", " &amp; ")
    names[i] = names[i].replace(" & ", " &amp; ")
  }
  names = _.chunk(names, 8);
  var template = $('#template').html();
  var r = _.template(template, {
      names: names
  });
  $('#download').attr("href", "data:application/octet-stream," + encodeURIComponent(r));
}
var doNames6 = function() {
  var names = $('#names').val()
  names = $.trim(names);
 if(names.match(/\*/m)) {
   names = names.split("*");
names = _.map(names, function(name) {
    name = $.trim(name);
    var new_names = name.split("\n");
    var new_name = new_names[0]
    return new_name;
  })   
 } else {
  names = names.split("\n");
  }
  names = _.compact(names)
  names = names.sort();
  
  for (i = 0; i < names.length; i++) {
      names[i] = toTitleCase(names[i])
      
    names[i] = handleHyphens(names[i])
      names[i] = names[i].trim();
      
    names[i] = names[i].replace(" and ", " &amp; ")
    names[i] = names[i].replace(" & ", " &amp; ")
  }
  names = _.chunk(names, 6);
  var template = $('#template_6').html();
  var r = _.template(template, {
      names: names
  });
  console.log(r)
  $('#download_6').attr("href", "data:application/octet-stream," + encodeURIComponent(r));
}

var doNamesAndTables = function() {
  var names = $('#names_and_tables').val()
  names = $.trim(names);
  names = names.split("\n");
  for (i = 0; i < names.length; i++) {

      names[i] = toTitleCase(names[i])
      names[i] = names[i].trim();
  }
  names = _.chunk(names, 16);
  var template = $('#table_template').html();
  var r = _.template(template, {
      names: names
  });
  $('#download_tables').attr("href", "data:application/octet-stream," + encodeURIComponent(r));  
}

var parseAddresses= function(line_number, template_id, download_id, chunk_value) {
console.log("Parsing addresses\n---------------------" + "\n" + template_id)
  var names = $('#names').val()
  names = $.trim(names);
  var invitation_names = names.split("*");

  var names = _.map(invitation_names, function(name) {

    name = $.trim(name);
    var new_names = name.split("\n");
   
    for(i = 0; i < new_names.length; i++) {
      
      if(new_names.length == (i + 1)) {
      } else {
        new_names[i] = toTitleCase(new_names[i])
        new_names[i] = handleHyphens(new_names[i])      
      }
      if((i == 0) || (i == 1)) {
        new_names[i] = new_names[i].replace(" and ", " &amp; ")
        new_names[i] = new_names[i].replace(" & ", " &amp; ")
      }
      
      
    }
     if (line_number == 1) {
    new_names.shift();
    
    var new_name = new_names.join("<br/>")
    return new_name;
    } else {
     return new_names[0]
    }
  })
  names = _.compact(names);
  names = names.sort();
 
  for (i = 0; i < names.length; i++) {
   if(line_number != 1) {
    names[i] = toTitleCase(names[i])
    names[i] = handleHyphens(names[i])
    names[i] = names[i].trim();
      
    names[i] = names[i].replace(" and ", " &amp; ")
    names[i] = names[i].replace(" & ", " &amp; ")
    }
  }
  names = _.chunk(names, chunk_value);
  var template = $('#' + template_id).html();
  console.log(names)
  var r = _.template(template, {
      names: names
  });
  console.log(r)
  $('#' + download_id).attr("href", "data:application/octet-stream," + encodeURIComponent(r));
}

function compileSheet() {
  
  var names = $('#names').val()
  names = $.trim(names);
  var invitation_names = names.split("*");
  
  var names = _.map(invitation_names, function(name) {
    name = $.trim(name);
    var new_names = name.split("\n");
    return { first_name: new_names[0], second_name: new_names[1]};
  })
  names = _.compact(names);
  names =names.sort(compare);
  
  
  function compare(a,b) {
  if (a.first_name < b.first_name)
     return -1;
  if (a.first_name > b.first_name)
    return 1;
  return 0;
}
names.forEach(function(name) {
  $('#report').append(name.first_name + "<br/>" + name.second_name + "<hr/>")
})

$('#report').append(names.length)
}



$(function() {
    $('#button').click(
    function() {
        doNames()
        doNames6()
        doNamesAndTables()
        parseAddresses(1,'envelopes_template','download_envelopes', 1)
        parseAddresses(0,'invitations_template','download_invitations', 4)
         parseAddresses(0,'invitations_two_template','download_two_invitations',2)
        compileSheet();
    });
  $('#comma_to_newline').click(function() {
    var names = $('#names').val()
    $('#names').val(turnCommaIntoNewline(names))
   
  })
  $('#remove_numbers').click(function() {
    var names = $('#names').val()
    $('#names').val(removeNumbersAndDots(names))
   
  })

});

function turnCommaIntoNewline(names) {
 var names = names.split(",");
  for(var i = 0; i < names.length; i++) {
   names[i] = names[i].trim();
 }
  $('#counter').text(names.length)
 return names.join("\n")
  
}

function trimNames(names) {
 
 return names;
}
function removeNumbersAndDots(names) {
  names = names.replace(/\d/g,'')
  names = names.replace(/\./g,'')
  names = names.split("\n")
   for(var i = 0; i < names.length; i++) {
   names[i] = names[i].trim();
 }
 names= _.compact(names);
 $('#counter').text(names.length)
  names = names.join("\n")
  return names;
}
</script>


</head>

<body>
<h1>Original</h1>
<div id="counter"></div>
<textarea id="names" rows="20">David
Angel
Tom
Lucas
Mark
Richard
James
Charlotte
Chloe
Amy
Florence
Jasmin
</textarea>

<textarea id="names_and_tables">David
Angel
Tom
Lucas
Mark
Charlotte
Chloe
Amy
Florence
Jasmin
</textarea>

<input type="submit" id="button"></input>
<div id="comma_to_newline" style="width:100px;background-color:grey;height:50px;border-radius:10px;color:white;font-size:14px;">Comma to newline</div>
<div id="remove_numbers" style="width:100px;background-color:grey;height:50px;border-radius:10px;color:white;font-size:14px;">Remove numbers</div>

<h1>Result</h1>

<a href=""  download="names.xml" id="download">Download</a>
<a href=""  download="names.xml" id="download_6">Download 6</a>
<a href=""  download="names_tables.xml" id="download_tables">Download tables</a>
<a href=""  download="invitations.xml" id="download_invitations">Download invitations</a>
<a href=""  download="invitations_two.xml" id="download_two_invitations">Download 2x invitations</a>
<a href=""  download="envelopes.xml" id="download_envelopes">Download envelopes</a>
<div id="report"></div>
</body>
</html>