 <html>
<head>
</head>
<body>
<div style="float:left;">
            <h1 class="product_name">Simplicity</h1>
        </div>
        
        <div style="float:right;>
            <img src="/images/product_types/small/name_place.png" />
        </div>
        <div style="clear:both;" class="slides_container">
            <div class="a_slide"><img src="/products/<%= _id %>/attachments/large-1" /></div>
            <div class="a_slide"><img src="/products/<%= _id %>/attachments/large-2" /></div>    
            <div class="a_slide"><img src="/products/<%= _id %>/attachments/large-3" /></div>
            <div class="a_slide"><img src="/products/<%= _id %>/attachments/large-4" /></div>
        </div>
</body>
</html>