<% docs.forEach(function(place) { %>
  <a href="/products/<%= place._id %>"><div class="search_image" style="float:left;width:24%;margin-right:0.75%;">
  <%- place.divs[0] %>
  <h2><%= place.name %></h2>
  </div></a>
<% }) %>