<img src="http://www.casamiento.co.uk/products/<%= doc._id %>/attachments/large-<%= doc.attachments_order[0] %>" />
    
<div>
    <h1><span class="theme_name">Birds of Paradise</span></h1>
    <p class="center"><img src="/images/ornamentalline.png" /></p>
    <h6 class="description">Dashes of bright colour illuminate this contemporary design. A beautiful selection of
            words that contain amazing details and chequered squares can induce hypnosis
            in the most ignorant of fellow men.</h6>
    
    <p class="center"><img src="/images/shell.png" /></h6>

</div>