
                <img src="http://www.casamiento.co.uk/products/<%= doc._id %>/attachments/large-1" />
                    
               <div>
                    <h1><span class="theme_name">Birds of Paradise</span></h1>
                    <div class="description">Dashes of bright colour illuminate this contemporary design. A beautiful selection of
                            words that contain amazing prophecies and chequered squares can induce hypnosis
                            in the most ignorant of fellow men.
                        <p class="center"><img src="/images/armament.png" /></p>
                    </div>
    
                </div>