 <script>
    $(function() {
        $('.noUiSlider').noUiSlider('init', {
            knobs: 1,
            connect: "lower"
        });
              
        $("#slides").slides({
            play: 5000,
            effect: 'fade, slide',
            crossfade: true,
            preload: false,
            preloadImage: "/images/spinner.gif",
            fadeSpeed: 2000
        });    
    })
</script>
<style type="text/css">
.description { border: 1px solid grey; padding:20px 40px 20px 40px; margin-left: 20px; margin-right: 20px; font: italic 1.2em/160% "Georgia", serif;}

.welcome { margin: auto; padding-top:5px; display:block; }

.colour_shown { margin-left:20px; padding-top:10px; text-align:left; }

.section0 { text-align:center; float:left; width:320px; padding:0; margin:0;  }
.section1 {text-align:center; margin-left:320px;padding-left:6px; }
.section2 { text-align:center; margin-right:326px; width:648px; padding:0; margin:0;  }
.section3 {text-align:center; float:right;width:320px; }

 .slides_container { width:974px; display:none; height:740px; }
    .slides_container .a_slide { background-color: white; width:974px; display:block;  }
</style>

<img src="/images/welcome_page/welcome.png" class="welcome" />

<div id="product_type"><img src="/images/product_types/small/name_place_grey.png" /></div>
<div id="slides"><div class="slides_container">

    <% for (var i=0; i < documents.length; i++) { %>
    <% var doc = documents[i] %>
    <div class="a_slide">
        <div class="container">
        
    <% if ((i % 2) == 0) { %>
            <!-- SECTION 0 -->
            <div class="section0">
                <% include small_picture %>
            </div>
            
            <div class="section1">
                <% include big_picture %>
            </div>
            
            <! ------- ELSE -------------------- >            
            <% } else { %>
           
            <div class="section3">
                <% include small_picture %>
            </div>
            <div class="section2">
                <% include big_picture %>
            </div>
            
    <% } %>
        </div>
        
    </div>
    
    <% } %>
        
</div></div>