<!doctype html>

<body>
	<meta name="viewport" content="initial-scale=1,user-scalable=no">
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans:400,300,300italic,800,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type="text/css">

	<style type="text/css">
		@font-face {
			font-family: "Gara";
			src: url('/f/garamond.eot?') format('eot'), url('/f/garamond.woff') format('woff');
		}
		
		@font-face {
			font-family: "GaraI";
			src: url('/f/garamonditalic.eot?') format('eot'), url('/f/garamonditalic.woff') format('woff');
		}
		
		#form_panel {
			padding:0;width:85%;
			max-width:700px;background-color:#EEE;border-radius:1em;margin:0 auto;margin-top:-75px;
			padding-top:100px;
		}
		
		#slides {
			width: 85%;
			margin: 0 auto;
			clear: both;
		}
		
		label {
			font-family: "Gara";
			font-size: 14pt;
		}
		
		body {
			margin: 0;
			padding: 0;
		}
		
		#inner_page_container_casamiento {
			color: #000;
			padding: 0;
			margin: 0 auto;
			width: 95%;
		}
		
		
		#casamiento_logo {
			display: block;
			top: 0;
			left: 0;
			position: fixed;
			width: 182px;
			z-index: 100;
			padding: 5px;
			background-color: white;
			border-bottom-right-radius: 10px;
		}
		
		.pure-button {
			background-color: grey;
			font-family: 'Open Sans';
			font-size:14pt;
			font-weight: 300;
			font-style:italic;
			border-radius: 12px;
			padding-top:1em;
			padding-bottom:1em;
		}
		
		#dreams_slogan {
			display: block;
			top: 0;
			right: 0;
			padding-left: 5px;
			background-color: white;
			z-index: 100;
			position: fixed;
			border-bottom-left-radius: 10px;
			width: 180px;
		}
		#genesis {
			display: block;
			margin: 0 auto;
			position: relative;
			z-index: 99999999;
			background-color: white;
			padding: 0.5em;
			border-radius: 1em;
			margin-top: -1.5em;
		}
		
		.left_column {
			margin:0 auto;
			width:90%;
		}
		
		
		input {
			background-color: #EEE;
			border: 1px solid black;
		}
		
		input:hover {
			background-color: white;
		}
		/* Smartphone */
		/* ----------------------------------------------------------------------------- */
		
		@media all and (min-width: 260px) and (max-width: 680px) {
			#inner_page_container_casamiento {
				width: 100%;
				padding: 0;
			}
			#form_panel {
				margin:0 auto;
				margin-top:-50px;
				padding-top:75px;
				width:95%;
			}
			.left_column {
				width:95%;
			}
			#genesis {
			margin-top:-0.75em;
				width:60%;
				max-width:280px;
				padding:0.25em;
				position:relative;
				margin-bottom:1.5em;
			}
			#casamiento_logo {
				position:static;
				width: 130px;
				padding: 0px;
				float:left;
				background-color: white;
				border-bottom-right-radius: 5px;
			}
			#dreams_slogan {
				padding-top:5px;
				float:right;
				position:static;
				padding-left: 2px;
				background-color: white;
				z-index: 100;
				border-bottom-left-radius: 5px;
				width: 140px;
			}
		
			#slides {
				width: 100%;
				float: none;
			}
		}
		/* Phablet */
		
		@media all and (min-width: 681px) and (max-width: 900px) {
			/* ----------------------------------------------------------------------------- */
			#inner_page_container_casamiento {
				width:100%;
			}
		
			#casamiento_logo {
				position:static;
				width: 140px;
				padding: 0px;
				float:left;
				background-color: white;
				border-bottom-right-radius: 5px;
			}
			#dreams_slogan {
				padding-top:5px;
				float:right;
				position:static;
				padding-left: 2px;
				background-color: white;
				z-index: 100;
				border-bottom-left-radius: 5px;
				width: 160px;
			}
		
			#slides {
				width: 100%;
				float: none;
			}
				#form_panel {
				margin:0 auto;
				margin-top:-50px;
				padding-top:75px;
				width:95%;
			}
			.left_column {
				width:95%;
			}
		}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script src="/javascripts/libraries/jquery.slides.min.js"></script>

	<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

	<div id="inner_page_container_casamiento">


		<img src="/gfx/logo/casamiento_black.svg" id="casamiento_logo" />

		<img src="/gfx/logo/drms.svg" id="dreams_slogan" />


		<div id="slides">
			<img src="/gfx/ebay/invitations/ace/invitation_collage_ribbon.jpg" style="display:block;border-top:1px solid black;" />

			<img src="/gfx/ebay/invitations/ace/four.jpg" style="display:block;border-top:1px solid black;" />

			<img src="/gfx/ebay/invitations/butterfly/invitation_collage.jpg" style="display:block;border-top:1px solid black;" />

			<img src="/gfx/ebay/invitations/butterfly/four.jpg" style="display:block;border-top:1px solid black;" />

			<img src="/gfx/ebay/invitations/bop_spirals/invitation_collage_grass.jpg" style="display:block;border-top:1px solid black;" />

			<img src="/gfx/ebay/invitations/bop_spirals/four.jpg" style="display:block;border-top:1px solid black;" />

			<img src="/gfx/ebay/invitations/rose/invitation_collage_grass.jpg" style="display:block;border-top:1px solid black;" />

			<img src="/gfx/ebay/invitations/rose/four.jpg" style="display:block;border-top:1px solid black;" />
		</div>
		<img src="/gfx/ebay/invitations/genesis.svg" id="genesis" />


		<div class="left_column">

			<div id="form_panel">
				<img src="/gfx/ebay/invitations/book-3.svg" style="width:50px;display:block;margin:0 auto;margin-top:-1.5em;" />

				<div style="padding:0.5em;">
					<form class="pure-form pure-form-aligned">
						<fieldset>

							<p style="text-align:center;font-family:'Open Sans';font-size:11pt;font-weight:300;">Like the designs above?  Then get our luxury printed catalogue, filled with stunning designs, delivered to your door tomorrow <span style="font-weight:800;">FREE</span> by popping your name and address into this form&hellip;</p>


							<div class="pure-control-group">
								<label for="email"><img src="/gfx/bullets/diamond.svg" style="width:10px;opacity:0.3;"/> Email</label>
								<input type="text" id="email" name="email"></input>
							</div>

							<div class="pure-control-group">
								<label for="name"><img src="/gfx/bullets/diamond.svg" style="width:10px;opacity:0.3;"/> Name</label>
								<input type="text" id="name" name="name"></input>
							</div>


							<div class="pure-control-group">

								<label for="address"><img src="/gfx/bullets/diamond.svg" style="width:10px;opacity:0.3;"/> Address</label>
								<input type="text" id="address" name="address"></input>
							</div>


							<div class="pure-control-group">

								<label for="town"><img src="/gfx/bullets/diamond.svg" style="width:10px;opacity:0.3;"/> Town</label>
								<input type="text" id="town" name="town"></input>
							</div>


							<div class="pure-control-group">

								<label for="county"><img src="/gfx/bullets/diamond.svg" style="width:10px;opacity:0.3;"/> County</label>
								<input type="text" id="county" name="county"></input>
							</div>

							<div class="pure-control-group">

								<label for="county"><img src="/gfx/bullets/diamond.svg" style="width:10px;opacity:0.3;"/> Postcode</label>
								<input type="text" id="postcode" name="county"></input>
							</div>
						</fieldset>
						<div style="text-align:center;">
							<button type="submit" id="catalog" class="pure-button pure-button-primary">Post my catalogue today!</button>

						</div>
					</form>
				</div>
				<div style="background: linear-gradient(#EEE,white);height:5em;width:100%;">

				</div>
			</div>

		</div>




	<script>
		$(function() {

			$("#slides").slidesjs({
				width: 2000,
				height: 1409,

				pagination: {
					active: false
				},
				effect: {
					slide: {
						speed: 1000,
					},
					fade: {
						speed: 3000,
						// [number] Speed in milliseconds of the fade animation.
						crossfade: true
							// [boolean] Cross-fade the transition.
					}
				},
				play: {
					active: false,
					auto: true,
					interval: 2500,
					effect: 'fade'
				},
				navigation: {
					active: false
				},
				callback: {
					loaded: function(n) {
						$('#slides_spinner').hide();
					}
				}
			})
			
		
		
	
			$('.pure-button').click(function() {
			   var message = {
			    message: $('#email').val() + $('#address').val() + " | " + $('#town').val() + " | " + $('#county').val() + " | " + $('#postcode').val(),
			    email: $('#email').val(),
			    first_name: $('#name').val()
			   }
			   $.ajax({
			    type: "POST",
			    url: "/email",
			    data: message,
			    success: function(data) {

			    }
			   });
			   })

		})
	</script>
</body>
