<!doctype html>
<script type="text/javascript">
	var az = "SC", bz = "RI", cz = "PT", dz = "SR", ez = "C=", fz = "htt", gz = "ps://", pp = "p://";
	var hz = ".com";
	var zz = ".co.uk"   
	
	var fz0 = "ajax.googleapis"+hz+"/ajax/libs/jquery/1.9.1/jquery.min.js";
	    var tz2 = "www.dreamsonpaper.co.uk"+ "/javascripts/libraries/in_groups_of.js";
			var zz0 = "cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js";
	var fz1 = "www.dreamsonpaper.co.uk"+ "/javascripts/libraries/new_color_picker.js";
	document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + gz + fz0 + ">");
		document.write("</" + az + bz + cz + ">");
	document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + zz0+ ">");
	document.write("</" + az + bz + cz + ">");
		document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + tz2+ ">");
	document.write("</" + az + bz + cz + ">");
	document.write("<" + az + bz + cz + " type='text/javascript'" + dz + ez + fz + pp + fz1+ ">");
	document.write("</" + az + bz + cz + ">");
</script><link href='https://fonts.googleapis.com/css?family=Josefin+Slab:300,300italic,100,100italic' rel='stylesheet' type='text/css'>
  
<style type="text/css">

<% include css_partials/colour_picker.js %>

  @font-face { font-family:"OS"; src: url('http://www.dreamsonpaper.co.uk/f/OSReg.eot?') format('eot'), url('http://www.dreamsonpaper.co.uk/f/OSL.woff') format('woff'); }
  @font-face { font-family:"OSReg"; src: url('http://www.dreamsonpaper.co.uk/f/OSReg.eot?') format('eot'), url('http://www.dreamsonpaper.co.uk/f/OSReg.woff') format('woff'); }
  @font-face { font-family:"OS Light"; src: url('http://www.dreamsonpaper.co.uk/f/OSL.eot?') format('eot'), url('http://www.dreamsonpaper.co.uk/f/OSL.woff') format('woff'); }
  @font-face { font-family:"OS IL"; src: url('http://www.dreamsonpaper.co.uk/f/OSLI.eot?') format('eot'), url('http://www.dreamsonpaper.co.uk/f/OSLI.woff') format('woff'); }
  @font-face { font-family:"OS Condensed"; src: url('http://www.dreamsonpaper.co.uk/f/OSCB.eot?') format('eot'), url('http://www.dreamsonpaper.co.uk/f/OSCB.woff') format('woff'); }

  h2 {
	  text-align:center; 
	  font: normal 2em "TP", sans-serif; 
	  letter-spacing:10px; 
	  padding-right:10px;
	  padding-left:10px;
	  margin-top:0.5em;
	  margin-bottom:0.5em; 
	}
	
	h5 { 
		padding:0;
		margin:0;
		text-align:left;
		letter-spacing:0; 
		line-height:1em; 
	}
	h6 { padding:0.5em; margin:0; }
	
	.a_font {
		margin:0 auto;
		width:24%;
		float:left;
		text-align:center;
		vertical-align:middle;
		line-height:50px;
		border:1px solid #000;
	}
	
	p { 
		padding: 0 0.25em 0.75em 0.25em 0; 
		font: normal 1em "OS", sans-serif;
		line-height: 1.5em; 
		padding:0; 
		margin-bottom:1em;
	}

	#page_container_casamiento { 
		padding:0; 
		margin:0;
		margin: 0 auto;
		text-align:left;
		width:95%;
		background-color:#fff; 
	}


	#logo { width:202px; margin:5px 0 5px 10px;}
			
	#slogan { 
		width: 180px; 
		display:block; 
		margin-top:10px;
		margin-right:5px;
		float:right;
	}
		



</style>

<div id="page_container_casamiento">

		
		
		<div>

		<img src="http://www.dreamsonpaper.co.uk/gfx/logo/casamiento_gry.svg" id="logo" />
		<img src="http://www.dreamsonpaper.co.uk/gfx/logo/drms.svg" id="slogan" />
			<div style="clear:both;border-top:1px solid black;"></div>
			
      <h5 style="border-radius:25px;background-color:#EEE;font:normal  2em 'Josefin Slab';font-weight:300;margin:0 auto;width:50%;;padding:0.5em;text-align:center;color:#555;margin-top:0.5em;margin-bottom:0.5em;">Before you go any further, please <a href="" style="color:black;font-weight:300;">click here</a> for our buy-it-now listing where you can buy the same item in more quantities instantly at half the price&hellip;</h5>
			
      
      <h5 style="font:normal  4em 'Josefin Slab';font-style:italic;font-weight:300;margin:0.5em;margin:0 auto;color:#555;border-bottom:1px solid black;text-align:center;">A. Choose your design&hellip;</h5>
      <p>Hover over the colour(s) above to bring up the hues panel, then hover over the colour swatches to see the place card change colour instantly. Move through the different hues by clicking the left « and right » arrows.&hellip;</p>
     
    </div>
	<!--
		<h6 id="this_auction_is_for">This buy-it-now listing is for:</h6>

		<table>
			<tr>
				<td>
					<table class="inside_table">						
						<tr>
							<td class="table_key" id="table_key_format">Format:</td>              
							<td class="table_value" id="table_value_format"><img src="http://www.dreamsonpaper.co.uk/gfx/specs/tent.png"></td>
						</tr>
						
						<tr>
							<td class="table_key" id="table_key_thickness">Card thickness:</td>
							<td class="table_value" id="table_value_thickness">
							
								<div style="padding:1em">
									<div class="weight" style="border-top:3px solid #000;"></div> 
									<span style="font:normal 0.8em OS;">200gsm</span>
								</div>
								
								<div style="padding:1em;padding-top:0;">
									<div class="weight" style="border-top:7px solid #000;"></div> 
									<span style="font:normal 0.8em OS;">300gsm</span>
								</div>
							</td>
						</tr>
						
						<tr class="last_row">
							<td class="table_key" id="table_key_texture">Card texture:</td>
							<td class="table_value" id="table_value_texture">
								<div class="texture"></div><br/>Smooth<br/>White
							</td>
						</tr>
						
					</table>
				</td>
				
				<td>
				
					<div style="font: normal 0.75em 'OS';text-align:center;letter-spacing:0.1em;">PRICES STARTING FROM</div>
					<h2 class="price_and_quantity" style="text-align:center;font-size:2em;margin:0;padding:0;">&pound;3.99</h2>
					
				

				</td>
				
			</tr>
		</table>
		
		-->

	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		<div>
			<% counter = 0 %>
		  <% docs.forEach(function(doc) { %>
		  <% counter = counter + 1%>
		 <a href="http://www.dreamsonpaper.co.uk/products/images/<%= doc._id %>">
		  	<div style="padding-top:0.5em;padding-bottom:0.25em;border-bottom:1px dotted black;display:inline-block;width:33%;text-align:center;font:normal 3em 'Josefin Slab';font-weight:100">
		  	 <span style="color:#000">	<%= counter %>.<br/></span>
		   <img src="http://mrdizzy.cloudant.com/test_ebay/<%= doc._id %>/medium-3" style="width:100%;" />	
		  	</div>
		  	</a>
		  <% }) %>
		 
		</div>
		
		
		
		
      <h5 style="font:normal  4em 'Josefin Slab';font-style:italic;font-weight:300;margin:0.5em;margin:0 auto;color:#555;border-bottom:1px solid black;text-align:center;margin-bottom:1em;">B. Choose your font&hellip;</h5>
		
			<div id="fonts" style="text-align:center;">
	 <% fonts.forEach(function(font) { %>
		
		<div style="display:inline-block;vertical-align:middle;height:50px;padding-top:20px;width:24%;border-bottom: 1px solid black;">
			<img src="http://www.dreamsonpaper.co.uk/fonts/<%= font %>.svg" />
		
		</div>
		
		<% }) %>
		<div style="clear:both"></div>
		</div>
</div>
		
		
		
		
		
		
		
		
	<div style="clear:both;"></div>
</div>
