<div id="cart">
          <table style="width:75%;border-top:1px dashed black;">
           <tr><td style="vertical-align:middle"><img src="/gfx/icons/cart.png" style="width:30px;padding:2px;"/></td>
           <td style="vertical-align:middle"><p class="casamiento" style="margin:0;padding:0;font:normal 1.4em 'OS Light'"> View basket</td>
           <td  style="vertical-align:middle"><p class="casamiento" style="margin:0;padding:0;font:normal 1em 'OS Light'">2 items</p></td>       
           <td style="vertical-align:middle"><p class="casamiento" style="margin:0;padding:0;font:normal 1em 'OS Light'">&pound;3.78</p></td>
            </tr>
          </table>
        </div>        