
<div class="spc">
  <div style="margin-bottom:0.5em;height:2em;">
    <div style="float:left"><h1>Card Texture</h1></div>
    <div class="step colour_0">STEP 2</div>
</div>

<div class="chat-bubble">Choose a card texture. Plain is the cheapest with its smooth untextured finish, but hammered makes your cards feel more luxurious.</div>
<div style="margin-left:1em;margin-bottom:0.75em;display:inline-block;font-family:'TP'"><div class="texture"></div><br/>Plain</div>
<div style="margin-left:1em;margin-bottom:0.75em;display:inline-block;font-family:'TP'"><div class="texture" style="background-image:url('/gfx/hammered.png');background-size:2em;"></div><br/>Hammered</div>
  
  </div>