<!-- 
    PRODUCT FORM TEMPLATE
-->

  <script type="text/template" id="current_product_form">
    <form>
      <div style="width:50%;float:left">
        <h1>{{ id }}</h1>        
     
        <p><label for="price">Name:</label></p>
        <p><input type="text" name="name" value="{{name}}"></input></p>
     
        <p><label for="price">Price:</label></p>
        <p><input type="text" name="price" value="{{price}}"></input></p>
       
        <p><label for="monogram">monogram:</label></p>
        <p><input type="text" name="monogram" value="{{monogram}}"></input></p>
        
        <p><label for="price">Description:</label></p>
        <p><textarea name="description">{{description}}</textarea></p>
        
        <p><label for="buy_it_now_id">Buy-it-now listing item number:</label></p>
        <p><input type="text" name="buy_it_now_id" value="{{buy_it_now_id}}"></input></p>
        
        <p><label for="buy_it_now_price">Buy-it-now price:</label></p>
        <p><input type="text" name="buy_it_now_price" value="{{buy_it_now_price}}"></input></p>
        
      </div>
      <div style="width:50%;float:right" id="colour_picker"></div>
      <input type="submit" style="clear:both;">Submit</a>
    </form>
    <h3 style="clear:both">Attachments</h3>
  </script>
  
<!-- 
  IMAGE BACKGROUNDS
-->
  <script type="text/template" id="image_backgrounds">
    <div style="clear:both;width:500px;height:319px;background-image:url('new.png');" class="background_container first_colour">
        <img style="width:500px;position:absolute;" src="{{url}}" />{{#is number_of_colours 2}}{{divs}}{{/is}}
    </div>
    {{#is number_of_colours 2}}
      <textarea rows="5" cols="100" class="change_background">{{divs}}</textarea>
    {{/is}}
    <div class="visual_div" style="width:500px;height:319px;"></div>
  </script>


<style type="text/css">
    .attachment { text-align:center;}
</style>

<div id="products_container">
        <h3>Products</h3>
        <div id="products" style="float:right;width:75%;"></div>
        </div>
        <div id="current_product_container" style="clear:both;width:90%;margin:0 auto">
        <h3>Current Product</h3>
        <div id="cpv"></div>
</div>


<script type="text/javascript">
  
  var product_type_selection_view, theme_selection_view;
  
  $(function() {    
    // Populate product_types and themes for use in the SelectionView menus below
    var product_types = new ProductTypes(<%- JSON.stringify(product_types) %>),
    themes = new Themes(<%- JSON.stringify(themes) %>);
       
    // Selection view drop down menus
    product_type_selection_view = new ProductTypeSelectionView({collection:product_types}).render().el    
    theme_selection_view = new ThemeSelectionView({collection:themes}).render().el 
      
    var products = new Products( <%- JSON.stringify(products) %>, {parse: true} );
    
    new ProductsView({
        collection: products
    }).render();
      
  })
</script>

<script src="/javascripts/admin/products.js"></script>
<script src="/javascripts/admin/themes.js"></script>
<script src="/javascripts/admin/models.js"></script>