<div style="width:25%;float:left;">
  <img src="http://www.casamiento.co.uk/gfx/logo/cas.png" id="logo" style="width:150px">
</div>

<div style="width:30%;margin-top:1.5em;float:left;">
  <div id="font_picker"></div>
  <script>$('#font_picker').fontPicker()</script>
</div>

<div style="width:10%;float:left;">
  <img src="/gfx/printer_icon.svg" style="margin-top:0.5em;width:55px">
</div>

<!-- LAYOUT ICONS -->

<div style="width:30%;float:right;">
  <div style="width:33%;float:left;">
    <div style="width:54px;border:1px solid black;height:78px;">
      <table style="width:100%;border-collapse:collapse;border:0;">
        <tr>
          <td style="width:50%;height:19px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
          <td style="width:50%;height:19px;border-bottom:1px dotted grey;"></td>
        </tr>
        <tr>
          <td style="width:50%;height:19px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
          <td style="width:50%;height:19px;border-bottom:1px dotted grey;"></td>
        </tr>
        <tr>
          <td style="width:50%;height:19px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
          <td style="width:50%;height19px;border-bottom:1px dotted grey;"></td>
        </tr>
        <tr>          
          <td style="width:50%;height:19px;border-right:1px dotted grey;"></td>      
          <td style="width:50%;height:19px;"></td>
          <td style="width:50%;height:19px;"></td>
        </tr>
      </table>
    </div>
  </div>
  
  <!-- THREE ON A PORTRAIT PAGE -->
  
  <div style="width:33%;float:left;">
    <div style="width:54px;border:1px solid black;height:78px;">
      <table style="margin:0 auto;margin-top:9px;width:50%;border-collapse:collapse;">
        <tr><td style="width:50%;height:18px;border:1px dotted grey;"></td></tr>
        <tr><td style="width:50%;height:18px;border:1px dotted grey;"></td></tr>
        <tr><td style="width:50%;height:18px;border:1px dotted grey;"></td></tr>
      </table>
    </div>
  </div>
  
    <!-- 4 ON A LANDSCAPE PAGE -->
    
    <div style="width:33%;float:left;">
      <div style="width:78px;border:1px solid black;height:54px;">
       <table style="width:54px;margin:0 auto;margin-top:8px;border-collapse:collapse;">
          <tr>
            <td style="width:50%;height:18px;border:1px dotted grey;"></td>            
            <td style="width:50%;height:18px;border:1px dotted grey;"></td>
          </tr>
          <tr>
            <td style="width:50%;height:18px;border:1px dotted grey;"></td>             
            <td style="width:50%;height:18px;border:1px dotted grey;"></td>
          </tr>
        </table>
      </div>
  </div>
</div>


<div style="clear:both;"></div>