
<div id="print_box">
  <div class="spc" style="padding:1em;">
    <h4 style="clear:both;float:none">Print your own</h4>
    
    <!-- 8 on a portrait page -->
    
    <div style="width:33%;float:left;">
      <div style="width:84px;border:1px solid black;height:118px;">
        <table style="width:100%;border-collapse:collapse;border:0;">
          <tr>
            <td style="width:42px;height:29px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;"></td>
          </tr>
          <tr>
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;"></td>
          </tr>
          <tr>
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;border-right:1px dotted grey;"></td>      
            <td style="width:50%;height:29px;border-bottom:1px dotted grey;"></td>
          </tr>
          <tr>          
            <td style="width:50%;height:29px;border-right:1px dotted grey;"></td>      
            <td style="width:50%;height:29px;"></td>
            <td style="width:50%;height:29px;"></td>
          </tr>
        </table>
      </div>
    </div>
    
    <!-- THREE ON A PORTRAIT PAGE -->
    
    <div style="width:33%;float:left;">
      <div style="width:84px;border:1px solid black;height:118px;">
        <table style="margin:0 auto;margin-top:14px;width:50%;border-collapse:collapse;;">
          <tr><td style="width:42px;height:28px;border:1px dotted grey;"></td></tr>
          <tr><td style="width:42px;height:28px;border:1px dotted grey;"></td></tr>
          <tr><td style="width:42px;height:28px;border:1px dotted grey;"></td></tr>
        </table>
      </div>
    </div>
    
    <!-- 4 ON A LANDSCAPE PAGE -->
    
    <div style="width:33%;float:left;">
      <div style="width:118px;border:1px solid black;height:84px;">
       <table style="width:84px;margin:0 auto;margin-top:14px;border-collapse:collapse;;">
          <tr>
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>            
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>
          </tr>
          <tr>
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>             
            <td style="width:42px;height:28px;border:1px dotted grey;"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div id="send_to_print">Print</div>
</div>