<div id="svgs">
  <div class="svg_parent"> 
    <div style="z-index:5;width:100%;height:100%;text-align:center;position:absolute;">
      <table style="width:100%;height:100%;border-collapse:collapse;margin:0;padding:0;">
        <tr>
          <td class="back_place_card" style="height:50%;border:0;padding:0;margin:0;"></td>
        </tr>
        <tr>
          <td class="front_place_card guest" style="height:50%border:0;padding:0;margin:0;">Mr. James Montana</td>
        </tr>
      </table>
    </div>
    
    <div class="top_top_left_crop_mark crop_mark"></div>
    <div class="top_left_left_crop_mark crop_mark"></div>
    <div class="top_top_right_crop_mark crop_mark"></div>
    <div class="top_right_right_crop_mark crop_mark"></div>
    
    <div class="bottom_bottom_left_crop_mark crop_mark"></div>
    <div class="bottom_left_left_crop_mark crop_mark"></div>
    <div class="bottom_bottom_right_crop_mark crop_mark"></div>
    <div class="bottom_right_right_crop_mark crop_mark"></div>
    
    <div style="width:100%;">   
      <%- product.divs[4] %>
    </div>
  </div>
  <div style="width:25%;margin:0 auto;text-align:center;">
      <div id="minus_font" class="deselected">-</div>
        <div id="plus_font" class="deselected">+</div>
        </div>
  <div id="print_container" style="text-align:center;">
  <div class="spinner">
    <img src="/gfx/spinner.gif" id="print_spinner" style="display:none">
    </div>
    <div id="add_another"><p style="font-size:1.4em;margin:0;padding:0;">PRINT</p></div>
  </div>
</div>
  