<form method="POST" action="/fonts" enctype="multipart/form-data">
Font name: <input type="text" name="name"></input><br/>
Font description: <textarea name="description"></textarea><br/>
WOFF: <input type="file" name="woff"></input><br/>
EOT: <input type="file" name="eot"></input><br/>
<input type="submit"></input>
</form>