<form method="POST" action="/fonts" enctype="multipart/form-data">

  Font name: 
  <input type="text" name="name"></input><br/>
  
  Font size (as a percentage of the container width): 
  <input type="text" name="size"></input><br/>
  
  WOFF: 
  <input type="file" name="woff"></input><br/>
  
  EOT: 
  <input type="file" name="eot"></input><br/>
  
  SVG: 
  <input type="file" name="svg"></input><br/>
  
  <div style="width:105mm;height:37.125mm;line-height:37.125mm;text-align:center;">
    Mr. John Donnelly
  </div>
  
  <input type="submit"></input>
  
</form>